<md-content>

  <md-subheader>{{ ::'ui.options.audio.volume' | translate }}</md-subheader>

  <md-list-item layout layout-align="center center" ng-repeat="param in ::options.uiElements.audio.volumeSliders">
    <p flex="30">{{ ::param.name | translate }}</p>
    <md-slider flex ng-model="options.data.values[param.key]" min="0" max="1" step="0.01" aria-label="_" ng-change="options.applyState()"></md-slider>
    <span flex="20" style="text-align: right">{{ options.data.values[param.key] * 100 | number: 0 }}</span>
  </md-list-item>

 <md-list-item layout>
    <md-button md-no-ink class="md-raised md-warn" flex ng-click="opt.toggleMute()">
      <md-icon class="material-icons">{{options.data.values.AudioMasterVol <= 1e-3 ? 'volume_up' : 'volume_off'}}</md-icon>
      <span ng-if="options.data.values.AudioMasterVol <= 1e-3">{{ ::'ui.options.audio.unmute' | translate }}</span>
      <span ng-if="options.data.values.AudioMasterVol > 1e-3">{{ ::'ui.options.audio.mute' | translate }}</span>
    </md-button>
    <md-button md-no-ink class="md-raised" flex bng-sound="{click: 'event:>UI>Volume Test'}" >
      <md-icon class="material-icons">check</md-icon> {{ ::'ui.common.test' | translate }}
    </md-button>
  </md-list-item>

  <md-divider></md-divider>

  <md-subheader>{{ ::'ui.options.audio.settings' | translate }}</md-subheader>

  <md-list-item  layout="column" ng-repeat="param in ::options.uiElements.audio.audioSources">
    <div layout="row" layout-align="center center" style="width: 100%">
      <p flex="30">{{:: param.name | translate }}</p>
      <md-slider flex ng-model="options.data.values.AudioMaxVoices"
        min="{{ ::param.min }}" max="{{ ::param.max }}" step="{{ ::param.step }}" aria-label="_" ng-change="options.applyState()">
      </md-slider>
      <span flex="20" style="text-align: right">{{ options.data.values.AudioMaxVoices }}</span>
    </div>
  </md-list-item>


  <md-list-item layout="column" class="md-padding">
    <div layout="row" layout-align="center center" style="width: 100%">
      <p flex="40">{{:: 'ui.options.audio.maxVoices' | translate}}</p>
        <md-select flex class="bng-select-fullwidth"
                   ng-model="options.data.values.AudioMaxVoices" ng-change="options.applyState()" aria-label="_">
          <md-option md-no-ink ng-repeat="label in options.data.options.AudioMaxVoices.modes.values"
                               ng-value="options.data.options.AudioMaxVoices.modes.keys[$index]">
            {{:: label }}
          </md-option>
        </md-select>
    </div>
    <div layout="row" layout-align="left center" style="width: 100%; color: red;">
      <p ng-if="options.data.values.AudioMaxVoices !== opt.lastMaxChannels">
        {{:: 'ui.options.audio.maxVoicesChanged.warning' | translate}}
      </p>
    </div>
  </md-list-item>

</md-content>
