<md-content layout="column" flex>
  <md-toolbar>
    <h2 class="md-title" style="margin: 16px;">{{:: controlsEdit.action.title }}</h2>
  </md-toolbar>


  <div class="md-padding" flex style="overflow: auto;">
    <div class="md-padding md-subhead">{{:: controlsEdit.action.desc }}</div>

    <div ng-if="controlsEdit.listening.status > 0">
      <span class="md-body-1">Last Detected Input</span>
      <span class="md-body-2">{{:: controlsEdit.listening.msg }}</span>
    </div>

    <div ng-if="controlsEdit.listening.status < 0" class="md-padding" layout="row" layout-align="center center">
      <span class="material-icons" style="font-size: 40px; color: lightgrey">query_builder</span>
    </div>

    <div ng-if="controlsEdit.listening.status === 0">
      <md-list-item layout class="md-padding">
        <span flex>Assigned Control</span>
        <span style="cursor: pointer; font-size: 125%; padding-left: 15px;" ng-click="controlsEdit.captureBinding()">
          <binding dark="true" key="controlsEdit.newBinding.details.control" device="controlsEdit.newBinding.device"></binding>
          <md-tooltip md-direction="">Click to reassign</md-tooltip>
        </span>
        <md-button class="md-icon-button md-warn" md-no-ink ng-click="controlsEdit.deleteBinding()"
          ng-disabled="controlsEdit.bindingChanged()">
          <md-icon class="material-icons">delete_forever</md-icon>
          <md-tooltip md-direction="bottom">Remove Binding</md-tooltip>
        </md-button>
      </md-list-item>


      <div ng-if="controlsEdit.conflicts.length > 0" class="md-whiteframe-z3 md-padding">
        <div layout="row" layout-align="start center" layout-wrap>
          <span style="color: red" class="md-title">Warning</span>
          <span class="md-body-2">There might be a conflict with the following actions:</span><br/>
        </div>

        <md-list-item ng-repeat="conflict in controlsEdit.conflicts" layout="row">
          <p flex style="text-decoration: {{:: conflict.resolved ? 'line-through' : 'none' }}">{{:: conflict.title }}</p>
          <md-button class="md-icon-button md-warn" md-no-ink ng-click="conflict.resolved = !conflict.resolved">
            <md-icon class="material-icons">{{ conflict.resolved ? 'undo' : 'clear' }}</md-icon>
          </md-button>
        </md-list-item>
      </div>
      <md-divider></md-divider>

      <md-list-item layout>
          <p>{{:: "ui.controls.filter" | translate }}</p>
        <md-select flex ng-model="controlsEdit.newBinding.details.filterType" aria-label="_" class="bng-select-fullwidth">
          <md-option value="-1" md-no-ink>{{:: "ui.controls.filters.-1"| translate }}</md-option>
          <md-option value="0"  md-no-ink>{{:: "ui.controls.filters.0" | translate }}</md-option>
          <md-option value="3"  md-no-ink>{{:: "ui.controls.filters.3" | translate }}</md-option>
          <md-option value="1"  md-no-ink>{{:: "ui.controls.filters.1" | translate }}</md-option>
          <md-option value="2"  md-no-ink>{{:: "ui.controls.filters.2" | translate }}</md-option>
        </md-select>
        <md-tooltip md-direction="">Ease of use vs response speed. From slower to faster: Key, Pad, Direct</md-tooltip>
      </md-list-item>

      <axis-options ng-if="controlsEdit.newBinding.isAxis" iscentered="controlsEdit.action.isCentered" data="controlsEdit.newBinding"></axis-options>
      <ffb-options ng-if="controlsEdit.showFfbOptions" data="controlsEdit.newBinding.details"></ffb-options>
    </div>
  </div>

  <div layout="row">
    <md-button flex md-no-ink style="display:block" class="md-button md-warn md-raised"
      ng-click="controlsEdit.cancel()" ui-sref="^">Cancel</md-button>
    <md-button flex md-no-ink style="display:block" class="md-raised" ng-disabled="!controlsEdit.oldBinding.device"
        ng-click="controlsEdit.revert()">Revert</md-button>
    <md-button flex md-no-ink style="display:block" class="md-primary md-raised"
        ng-click="controlsEdit.apply()" ui-sref="^">Apply</md-button>
  </div>

  <md-divider></md-divider>

</md-content>
