<md-content class="md-padding">
  <div ng-repeat="i in controlsFilters.order">
      <md-divider ng-if="$index != 0"></md-divider>
      <md-subheader class="md-no-sticky">{{:: 'ui.controls.filters.'+i | translate }}</md-subheader>
      <md-list-item md-no-ink>
        <md-tooltip md-direction="right">{{:: 'ui.controls.filters.limitEnabled' | translate }}</md-tooltip>
        <p>{{:: 'ui.controls.filters.limitEnabled' | translate }}</p>
        <md-checkbox style="max-height:22px; margin-top:0px; margin-bottom:0px" ng-model="controlsFilters.filters[i].limitEnabled" ng-change="controlsFilters.apply(i)"></md-checkbox>
      </md-list-item>
      <div ng-show="controlsFilters.filters[i].limitEnabled" style="width:430px; height: 50px; position:relative; border: solid grey 2px; margin-left: 20px;">
        <canvas width="430" height="50" id="inputFilter{{i}}_graph"></canvas>
      </div>
      <md-list-item ng-if="controlsFilters.filters[i].limitEnabled" layout>
        <span flex="30">{{::"ui.controls.filters.limitStartSpeed" | translate }}</span>
        <md-slider ng-model="controlsFilters.filters[i].limitStartSpeed" ng-change="controlsFilters.apply(i, true)" flex min="0" max="100" step="0.1" aria-label="_"></md-slider>
        {{ controlsFilters.unit('speed', controlsFilters.filters[i].limitStartSpeed, 0) }}
      </md-list-item>
      <md-list-item ng-if="controlsFilters.filters[i].limitEnabled" layout>
        <span flex="30">{{::"ui.controls.filters.limitEndSpeed" | translate }}</span>
        <md-slider ng-model="controlsFilters.filters[i].limitEndSpeed" ng-change="controlsFilters.apply(i, false)" flex min="0" max="100" step="0.1" aria-label="_"></md-slider>
        {{ controlsFilters.unit('speed', controlsFilters.filters[i].limitEndSpeed, 0) }}
      </md-list-item>
      <md-list-item ng-if="controlsFilters.filters[i].limitEnabled" layout>
        <span flex="30">{{::"ui.controls.filters.limitMultiplier" | translate }}</span>
        <md-slider ng-model="controlsFilters.filters[i].limitMultiplier" ng-change="controlsFilters.apply(i)" flex min="0" max="1" step="0.01" aria-label="_"></md-slider>
        {{ controlsFilters.filters[i].limitMultiplier * 100 | number: 0 }} %
      </md-list-item>
  </div>
</md-content>
