<md-content flex>
  <form layout layout-align="center" layout-padding>
      <div layout="row" flex>
          <md-input-container flex class="md-icon-float md-block">
              <label>{{:: 'ui.controls.searchAllBindings' | translate}}:</label>
              <md-icon class="material-icons">search</md-icon>
              <input ng-model="actionQuery" ng-model-options="{debounce: 200}">
          </md-input-container>
          <md-button flex="10" class="md-icon-button" ng-disabled="!actionQuery" ng-click="actionQuery=''">
            <md-icon class="material-icons">clear</md-icon>
          </md-button>
      </div>
  </form>

  <bng-accordion flex class="vAccordion--default" multiple>
    <bng-accordion-pane ng-repeat="category in ::controls.data.categoriesList | orderBy: 'order' track by category.key"
            is-open="false" ng-show="controlsBindings.fActions[category.key].length > 0"
            style="padding-right: 10px; padding-left: 10px; padding-bottom: 20px" class="md-list-item">

      <bng-pane-header>
        <md-icon class="material-icons">{{ ::category.icon }}</md-icon>
          {{ ::category.title }} <span ng-if="actionQuery">({{ 'ui.controls.searchMatches' | translate: { number:controlsBindings.fActions[category.key].length} }})</span>
        <md-tooltip md-direction="">{{:: 'ui.controls.expandCollapse' | translate}}</md-tooltip>
      </bng-pane-header>
      <bng-pane-body>
        <md-list-item layout="row"
            style="padding:0px; min-height: 38px"
            ng-repeat="action in (controlsBindings.fActions[category.key] = (category.actions | filter: {title: actionQuery} )) | orderBy: ['order', 'title']">
          <span flex>
            <small style="text-transform: capitalize" ng-show="::action.vehicle">[{{ ::action.vehicle }}]</small> {{ :: action.title }}
            <md-tooltip md-direction="right">{{::action.desc}}</md-tooltip>
          </span>
          <div layout layout-align="start start" layout-wrap>
            <div ng-repeat="device in controls.data.bindings" layout layout-wrap>
              <div class="bng-binding"
                ng-repeat="binding in ::device.contents.bindings | filter: {'action': action.key}:true"
                ng-click="controlsBindings.select(action.key, device.devname, binding.control);"
                style="font-size: 125%;" >
                <binding dark="true" key="::binding.control" device="::device.devname" style="cursor: pointer;"></binding>
                <md-tooltip md-direction="">{{:: 'ui.controls.editBinding' | translate}}</md-tooltip>
              </div>
              <md-divider style="margin:0;"></md-divider>
            </div>
          </div>
          <md-icon class="material-icons" style="cursor:pointer" ng-click="controlsBindings.select(action.key)">
              add<md-tooltip md-direction="">{{:: 'ui.controls.createBinding' | translate}}</md-tooltip>
          </md-icon>
        </md-list-item>
      </bng-pane-body>
    </bng-accordion-pane>
  </bng-accordion>

  <div layout="row">
    <md-button flex ui-sref="menu.options.controls.bindings" class="md-raised md-warn" style="display:block" md-no-ink  ng-click="controlsBindings.resetAll()">
      {{:: 'ui.common.resetAll' | translate}}
      <md-tooltip md-direction="right">{{:: 'ui.controls.rmAllUserModification' | translate}}</md-tooltip>
    </md-button>
  </div>

</md-content>