<md-content>

  <md-subheader class="md-no-sticky">{{:: 'ui.options.aids' | translate }}</md-subheader>
  <md-list-item layout class="bng-short-select-item">
    <md-tooltip md-direction="right">{{:: 'ui.options.gameplay.absBehavior.tooltip' | translate }}</md-tooltip>
    <p flex="40">{{:: 'ui.options.gameplay.absBehavior' | translate }}</p>

    <md-select flex ng-model="options.data.values.absBehavior" aria-label="_" ng-change="options.applyState()">
      <md-select-label style="width:100%;"></md-select-label>
      <md-option md-no-ink ng-repeat="v in options.data.options.absBehavior.modes.values"
                           ng-value="options.data.options.absBehavior.modes.keys[$index]">
        {{ ::v | translate }}
      </md-option>
    </md-select>
  </md-list-item>

  <md-list-item layout class="bng-short-select-item"  ng-hide="true">
    <md-tooltip md-direction="right">{{:: 'ui.options.gameplay.escBehavior.tooltip' | translate }}</md-tooltip>
    <p flex="40">{{:: 'ui.options.gameplay.escBehavior' | translate }}</p>

    <md-select flex ng-model="options.data.values.escBehavior" aria-label="_" ng-change="options.applyState()">
    <md-select-label style="width:100%;"></md-select-label>
    <md-option md-no-ink ng-repeat="v in options.data.options.escBehavior.modes.values"
                         ng-value="options.data.options.escBehavior.modes.keys[$index]">
        {{ ::v | translate }}
      </md-option>
    </md-select>
  </md-list-item>


  <md-subheader class="md-no-sticky">{{:: 'ui.options.assistants' | translate }}</md-subheader>
  <md-list-item layout class="bng-short-select-item">
    <md-tooltip md-direction="right">{{:: 'ui.options.gameplay.defaultGearboxBehavior.tooltip' | translate }}</md-tooltip>
    <p flex="40">{{:: 'ui.options.gameplay.defaultGearboxBehavior' | translate }}</p>

    <md-select flex ng-model="options.data.values.defaultGearboxBehavior" aria-label="_" ng-change="options.applyState()">
      <md-select-label style="width:100%;"></md-select-label>
      <md-option md-no-ink ng-repeat="v in options.data.options.defaultGearboxBehavior.modes.values"
                           ng-value="options.data.options.defaultGearboxBehavior.modes.keys[$index]">
        {{ ::v | translate }}
      </md-option>
    </md-select>
  </md-list-item>


  <md-list-item md-no-ink>
    <md-tooltip md-direction="right">{{:: 'ui.options.gameplay.autoClutch.tooltip' | translate }}</md-tooltip>
    <p>{{:: 'ui.options.gameplay.autoClutch' | translate }}</p>
    <md-checkbox ng-model="options.data.values.autoClutch" ng-change="options.applyState()"></md-checkbox>
  </md-list-item>

  <md-list-item md-no-ink>
    <md-tooltip md-direction="right">{{:: 'ui.options.gameplay.autoThrottle.tooltip' | translate }}</md-tooltip>
    <p>{{:: 'ui.options.gameplay.autoThrottle' | translate }}</p>
    <md-checkbox ng-model="options.data.values.autoThrottle" ng-change="options.applyState()"></md-checkbox>
  </md-list-item>

  <md-list-item md-no-ink>
    <md-tooltip md-direction="right">{{:: 'ui.options.gameplay.gearboxSafety.tooltip' | translate }}</md-tooltip>
    <p>{{:: 'ui.options.gameplay.gearboxSafety' | translate }}</p>
    <md-checkbox ng-model="options.data.values.gearboxSafety" ng-change="options.applyState()"></md-checkbox>
  </md-list-item>
  
  <md-subheader class="md-no-sticky">{{:: 'ui.options.vehicleBehavior' | translate }}</md-subheader>

  <md-list-item md-no-ink>
    <md-tooltip md-direction="right">{{:: 'ui.options.gameplay.enginesPreheated.tooltip' | translate }}</md-tooltip>
    <p>{{:: 'ui.options.gameplay.enginesPreheated' | translate }}</p>
    <md-checkbox ng-model="options.data.values.startThermalsPreHeated" ng-change="options.applyState()"></md-checkbox>
  </md-list-item>

  <md-list-item md-no-ink>
    <md-tooltip md-direction="right">{{:: 'ui.options.gameplay.raceBrakesPreheated.tooltip' | translate }}</md-tooltip>
    <p>{{:: 'ui.options.gameplay.raceBrakesPreheated' | translate }}</p>
    <md-checkbox ng-model="options.data.values.startBrakeThermalsPreHeated" ng-change="options.applyState()"></md-checkbox>
  </md-list-item>

  <md-divider></md-divider>
  
  <div id="collisionsContainer">
	<md-subheader class="md-no-sticky">{{:: 'ui.options.physics' | translate }}</md-subheader>
	
	<md-list-item md-no-ink>
	  <p>{{:: 'ui.options.physics.noCollisions' | translate }}</p>
	  <md-checkbox ng-model="options.data.values.disableDynamicCollision" ng-change="options.applyState()"></md-checkbox>
	</md-list-item>
	
	<div class="md-padding" ng-if="options.data.values.disableDynamicCollision" layout="column" layout-align="center center">
	  <strong style="color:#dd3333">WARNING:</strong>
	  <span style="color:#dd3333">Vehicles won't collide with each other or with its own parts</span>
	  <span layout="column" layout-align="center center">Use only as a last resort for better framerates (remember to check the tips provided in Help &gt; Performance)</span>
	<md-divider></md-divider>
    </div>
  </div>

  
  <md-subheader class="md-no-sticky">{{:: 'ui.options.traffic' | translate }}</md-subheader>
  
  <md-list-item md-no-ink>
    <md-tooltip md-direction="right">{{:: 'ui.options.traffic.amount.tooltip' | translate }}</md-tooltip>
    <p>{{:: 'ui.options.traffic.amount' | translate }}</p>
    <md-slider flex
      ng-model="options.data.values.trafficAmount" min="0" max="10" step="1" aria-label="_"
      ng-change="options.applyState()">
    </md-slider>
    <span ng-if="options.data.values.trafficAmount > 0" style="margin-left:10px">
      <input flex type="number" min="0" max="100" step="1" value="{{options.data.values.trafficAmount}}" ng-model="options.data.values.trafficAmount" ng-change="options.applyState()" style="width:40px">
  </span>
    <span ng-if="options.data.values.trafficAmount == 0" style="margin-left:10px">auto</span>
  </md-list-item>

  <md-list-item layout class="bng-short-select-item">
    <md-tooltip md-direction="right">{{:: 'ui.options.traffic.trafficSetup.tooltip' | translate }}</md-tooltip>
    <p flex="40">{{:: 'ui.options.traffic.trafficSetup' | translate }}</p>
  
    <md-select flex ng-model="options.data.values.trafficSetup" aria-label="_" ng-change="options.applyState()">
      <md-select-label style="width:100%;"></md-select-label>
      <md-option md-no-ink ng-repeat="v in options.data.options.trafficSetup.modes.values"
                           ng-value="options.data.options.trafficSetup.modes.keys[$index]">
        {{ ::v | translate }}
      </md-option>
    </md-select>
  </md-list-item>

  <md-list-item layout class="bng-short-select-item">
    <md-tooltip md-direction="right">{{:: 'ui.options.traffic.trafficAllowMods.tooltip' | translate }}</md-tooltip>
    <p flex="40">{{:: 'ui.options.traffic.trafficAllowMods' | translate }}</p>
    <md-checkbox ng-model="options.data.values.trafficAllowMods" ng-change="options.applyState()"></md-checkbox>
  </md-list-item>

  <md-list-item md-no-ink>
    <md-tooltip md-direction="right">{{:: 'ui.options.traffic.showOnMap.tooltip' | translate }}</md-tooltip>
    <p>{{:: 'ui.options.traffic.showOnMap' | translate }}</p>
    <md-checkbox ng-model="options.data.values.trafficMinimap" ng-change="options.applyState()"></md-checkbox>
  </md-list-item>

  <md-divider></md-divider>
  <md-subheader class="md-no-sticky">{{:: 'ui.options.general' | translate }}</md-subheader>

  <md-list-item md-no-ink>
    <md-tooltip md-direction="right">Disables lots of things like vehicle switching inside scenarios. You need to restart the scenario after changing this option.</md-tooltip>
    <p>{{:: 'ui.options.gameplay.competitiveScenarios' | translate }}</p>
    <md-checkbox ng-model="options.data.values.restrictScenarios" ng-change="options.applyState()"></md-checkbox>
  </md-list-item>

  <md-list-item md-no-ink>
    <p>{{:: 'ui.options.gameplay.multiseat' | translate }}</p>
    <md-checkbox ng-model="options.data.values.multiseat" ng-change="options.applyState()"></md-checkbox>
  </md-list-item>
  <md-list-item ng-if="options.data.values.multiseat" layout-align="center" layout class="md-padding" style="padding-top:0; padding-bottom:0">
    <div layout="row" flex="95" style="padding-left: 20px; padding-right: 20px; background-color: #ececec;">
      <p bng-translate='ui.options.gameplay.switchHint'></p>
    </div>
  </md-list-item>

  <md-list-item md-no-ink>
    <p>{{:: 'ui.options.gameplay.multiseatTags' | translate }}</p>
    <md-checkbox ng-model="options.data.values.multiseatTags" ng-change="options.applyState()"></md-checkbox>
  </md-list-item>

  <md-list-item ng-hide="options.shipping" md-no-ink>
    <p>Foo Tests</p>
    <md-checkbox ng-model="options.data.values.fooTests" ng-change="options.applyState()"></md-checkbox>
  </md-list-item>

</md-content>
