<md-content>
  <md-subheader class="md-no-sticky">{{:: 'ui.options.graphics.displaySettings' | translate }}</md-subheader>

    <md-list-item layout class="bng-short-select-item">
    <p flex="30">{{:: 'ui.options.graphics.displayMode' | translate}}</p>
    <md-select flex ng-model="options.data.values.GraphicDisplayModes" ng-change="options.refreshGraphicsState()" aria-label="_">
      <md-select-label style="width:100%"></md-select-label>
      <md-option md-no-ink ng-repeat="display in options.data.options.GraphicDisplayModes.modes.values"
                           ng-value="options.data.options.GraphicDisplayModes.modes.keys[$index]">
        {{ ::display | translate}}
      </md-option>
    </md-select>
  </md-list-item>

  <md-list-item layout class="bng-short-select-item">
    <p flex="30">{{:: 'ui.options.graphics.monitor' | translate}}</p>
    <md-select flex ng-model="options.data.values.GraphicDisplayDriver"
                    ng-disabled="options.data.values.GraphicDisplayModes === 'Window'" ng-change="options.refreshGraphicsState()" aria-label="_">
      <md-select-label style="width:100%"></md-select-label>
      <md-option md-no-ink ng-repeat="display in ::options.data.options.GraphicDisplayDriver.modes.values"
                           ng-value="options.data.options.GraphicDisplayDriver.modes.keys[$index]">
        {{ ::display }}
      </md-option>
    </md-select>
  </md-list-item>

  <md-list-item layout class="bng-short-select-item">
    <p flex="30">{{:: 'ui.options.graphics.resolution' | translate}}</p>
    <md-select flex ng-model="options.data.values.GraphicDisplayResolutions"
                    ng-disabled="options.data.values.GraphicDisplayModes !== 'Fullscreen'" ng-change="options.refreshGraphicsState()" aria-label="_">
      <md-select-label style="width:100%"></md-select-label>
      <md-option md-no-ink ng-repeat="resolution in options.data.options.GraphicDisplayResolutions.modes.values"
                           ng-value="options.data.options.GraphicDisplayResolutions.modes.keys[$index]">
        {{ ::resolution }}
      </md-option>
    </md-select>
  </md-list-item>

  <md-list-item layout class="bng-short-select-item">
    <p flex="30">{{:: 'ui.options.graphics.refreshRate' | translate}}</p>
    <md-select flex ng-model="options.data.values.GraphicDisplayRefreshRates"
                    ng-disabled="options.data.values.GraphicDisplayModes !== 'Fullscreen'" ng-change="options.refreshGraphicsState()" aria-label="_">
      <md-select-label style="width:100%"></md-select-label>
      <md-option md-no-ink ng-repeat="refreshRate in options.data.options.GraphicDisplayRefreshRates.modes.values"
                           ng-value="options.data.options.GraphicDisplayRefreshRates.modes.keys[$index]">
        {{ ::refreshRate }}
      </md-option>
    </md-select>
  </md-list-item>

  <md-list-item layout class="md-padding" style="padding-top: 0; padding-bottom: 0" >
    <p flex="20">{{:: 'ui.options.graphics.gamma' | translate}}</p>
    <md-slider flex
      ng-model="options.data.values.GraphicGamma" min="0" max="2" step="0.01" aria-label="_"
      ng-change="options.applyState()">
    </md-slider>
    <span style="margin-left:15px">{{ options.data.values.GraphicGamma.toFixed(2) }}</span>
    <md-button style="width: 40px" class="md-icon-button md-warn" ng-click="opt.resetGamma()">
      <md-icon class="material-icons">undo</md-icon>
    </md-button>
  </md-list-item>

  <md-list-item layout>
    <md-button flex=30 class="md-primary md-raised" ng-click="options.applyGraphicsState()">
      <md-icon class="material-icons">check</md-icon> {{ ::'ui.common.apply' | translate }}
    </md-button>
  </md-list-item>
  <md-divider></md-divider>

  <md-subheader class="md-no-sticky">{{:: 'ui.options.graphics.timing' | translate }}</md-subheader>
  <md-list-item layout class="bng-short-select-item">
    <p flex="30">{{:: 'ui.options.graphics.vsync' | translate}}</p>
    <md-select flex ng-model="options.data.values.vsync" ng-change="options.applyState()" aria-label="_">
      <md-select-label style="width:100%"></md-select-label>
      <md-option md-no-ink ng-repeat="v in ::options.data.options.vsync.modes.values"
                           ng-value="options.data.options.vsync.modes.keys[$index]">
        {{ ::v }}
      </md-option>
    </md-select>
  </md-list-item>

  <md-list-item layout md-no-ink>
    <p>{{:: 'ui.options.graphics.fpslimiter' | translate}}</p>
    <md-checkbox ng-model="options.data.values.FPSLimiterEnabled" ng-change="options.applyState()"></md-checkbox>
  </md-list-item>

  <md-list-item layout ng-if="options.data.values.FPSLimiterEnabled" class="md-padding">
    <md-slider min="5" max="144" step="1" aria-label="_" flex
        ng-model="options.data.values.FPSLimiter" ng-change="options.applyState()"></md-slider>
    <span style="margin-left:15px">{{ options.data.values.FPSLimiter }}</span>
  </md-list-item>

  <md-list-item layout md-no-ink>
    <p>{{:: 'ui.options.graphics.sleepinbackground' | translate}}</p>
    <md-checkbox ng-model="options.data.values.SleepInBackground" ng-change="options.applyState()"></md-checkbox>
  </md-list-item>

  <md-divider></md-divider>

  <md-subheader class="md-no-sticky">{{:: 'ui.options.graphics.ui' | translate }}</md-subheader>
  <md-list-item layout class="bng-short-select-item"  ng-if="!app.mainmenu">
    <md-tooltip md-direction="right">{{:: 'ui.options.graphics.uimaxresExplanation' | translate}}</md-tooltip>
    <p flex="40">{{:: 'ui.options.graphics.uimaxres' | translate}}</p>
    <md-select flex ng-model="options.data.values.uiUpscaling" aria-label="_" ng-change="options.applyState()">
      <md-select-label style="width:100%"></md-select-label>
      <md-option md-no-ink ng-repeat="uiupscale in options.data.options.uiUpscaling.modes.values"
                           ng-value="options.data.options.uiUpscaling.modes.keys[$index]" >
        {{ ::uiupscale }}
      </md-option>
    </md-select>
  </md-list-item>

  <md-list-item layout class="bng-short-select-item" ng-if="app.mainmenu">
    <md-tooltip md-direction="right">{{:: 'ui.options.graphics.uimaxresExplanation' | translate}}</md-tooltip>
    <p flex>{{:: 'ui.options.graphics.uimaxresNotAvailable' | translate}}</p>
  </md-list-item>

  <md-list-item layout class="bng-short-select-item">
    <md-tooltip md-direction="right">{{:: 'ui.options.graphics.restartRequired' | translate}}</md-tooltip>
    <p flex="40">{{:: 'ui.options.graphics.MainMenuBackgroundModeBrokenCefVersion' | translate}}</p>
    <md-select flex ng-model="options.data.values.MainMenuBackgroundModeBrokenCefVersion" ng-change="options.applyState()" aria-label="_">
      <md-select-label style="width:100%"></md-select-label>
      <md-option md-no-ink ng-repeat="modes in ::options.data.options.MainMenuBackgroundModeBrokenCefVersion.modes.values"
                           ng-value="options.data.options.MainMenuBackgroundModeBrokenCefVersion.modes.keys[$index]">
        {{ ::modes | translate }}
      </md-option>
    </md-select>
  </md-list-item>

  <md-list-item layout md-no-ink>
    <md-tooltip md-direction="right">{{:: 'ui.options.graphics.restartRequired' | translate}}</md-tooltip>
    <p>{{:: 'ui.options.graphics.uiAcceleratedRender' | translate}}</p>
    <md-checkbox ng-model="options.data.values.uiAcceleratedRender" ng-change="options.applyState()" ></md-checkbox>
  </md-list-item>

  <div class="md-padding" ng-if="options.data.values.uiAcceleratedRender" layout="column" layout-align="center center">
    <strong style="color:#dd3333">{{:: 'ui.options.graphics.Warning' | translate}}</strong>
    <span style="color:#dd3333">{{:: 'ui.options.graphics.Experimental' | translate}}</span>
    <span layout="column" layout-align="center center" style="text-align: center;">{{:: 'ui.options.graphics.CEFRender.warning' | translate}}</span>
  </div>

  <md-divider></md-divider>

  <md-subheader class="md-no-sticky">{{:: 'ui.options.graphics.overall' | translate }}</md-subheader>
  <md-list-item md-no-ink>
    <p>{{ ::'ui.options.graphics.antialiasing' | translate}}</p>
    <md-checkbox ng-model="options.data.values['GraphicAntialias']" ng-true-value="4" ng-false-value="0" ng-change="options.applyState()"></md-checkbox>
  </md-list-item>

  <md-list-item md-no-ink ng-repeat="param in options.uiElements.graphics.checkboxGroup1">
    <p>{{ ::param.name | translate }}</p>
    <md-checkbox ng-model="options.data.values[param.key]" ng-change="options.applyState()" aria-label="_"></md-checkbox>
  </md-list-item>

  <md-list-item>
    <md-button ng-click="opt.openPostFXManager()" md-no-ink class="md-primary md-raised" ng-if="options.data.values.devMode">{{:: 'ui.options.graphics.postfx' | translate }}</md-button>
  </md-list-item>

  <md-list-item md-no-ink>
    <p>{{:: 'ui.options.graphics.GraphicDynReflection' | translate}}</p>
    <md-checkbox ng-model="options.data.values.GraphicDynReflectionEnabled" ng-change="options.applyState()"></md-checkbox>
  </md-list-item>

  <div style="padding-left: 32px">
    <md-list-item  layout="column" ng-repeat="param in options.uiElements.graphics.dynReflectionSliders" ng-show="options.data.values.GraphicDynReflectionEnabled">
      <div layout="row" layout-align="center center" style="width: 100%">
        <p flex="30">{{:: ('ui.options.graphics.' + param.key) | translate }}</p>
        <md-slider flex ng-model="options.data.values[param.key]"
            min="{{ ::param.min }}" max="{{ ::param.max }}" step="{{ ::param.step }}" aria-label="_" ng-change="options.applyState()">
        </md-slider>
        <span ng-if="param.key === 'GraphicDynReflectionTexsize' && options.data.values[param.key]" flex="10" style="text-align:right">{{options.data.values[param.key]}}</span>
        <span ng-if="param.key === 'GraphicDynReflectionFacesPerupdate' && options.data.values[param.key] > 2" flex="10" style="text-align:right; color: red; font-weight: bold">{{options.data.values[param.key]}}</span>
        <span ng-if="param.key === 'GraphicDynReflectionFacesPerupdate' && options.data.values[param.key] <= 2" flex="10" style="text-align:right">{{options.data.values[param.key]}}</span>
        <span ng-if="param.key === 'GraphicDynReflectionDetail' && options.data.values[param.key]" flex="10" style="text-align:right">{{options.data.values[param.key]}}</span>
        <span ng-if="::param.unitsTxt" flex="10" style="text-align:right">{{ options.data.values[param.key] }} {{ ::param.unitsTxt }}</span>
      </div>
      <p ng-if="param.key === 'GraphicDynReflectionFacesPerupdate' && options.data.values[param.key] > 2" layout="column" layout-align="center center">
        <strong style="color:#dd3333">{{:: 'ui.options.graphics.Warning' | translate}}</strong>
        {{:: 'ui.options.graphics.GraphicDynReflection.warning' | translate}}
      </p>
    </md-list-item>
  </div>

  <md-list-item layout class="bng-short-select-item">
    <p flex="40">{{:: 'ui.options.graphics.DisplayShadows' | translate}}</p>
    <md-select flex ng-model="options.data.values.GraphicDisableShadows" ng-change="options.applyState()" aria-label="_">
      <md-select-label style="width:100%"></md-select-label>
      <md-option md-no-ink ng-repeat="shadows in ::options.data.options.GraphicDisableShadows.modes.values"
                           ng-value="options.data.options.GraphicDisableShadows.modes.keys[$index]">
        {{ ::shadows | translate }}
      </md-option>
    </md-select>
  </md-list-item>

  <md-divider></md-divider>

  <md-subheader class="md-no-sticky">{{:: 'ui.options.graphics.preset' | translate }}</md-subheader>
  <md-list-item layout class="bng-short-select-item">
    <md-button flex md-no-ink class="md-primary md-raised" aria-label="_" ng-if="$index !== 4" ng-repeat="label in options.data.options.GraphicOverallQuality.modes.values" ng-click="options.data.values.GraphicOverallQuality = options.data.options.GraphicOverallQuality.modes.keys[$index]; opt.applyOverallQuality()">
        {{:: label }}
    </md-button>
  </md-list-item>

  <div>
    <md-list-item layout class="bng-short-select-item" ng-repeat="param in options.uiElements.graphics.checkboxGroup2">
      <p flex="40">{{:: param.name | translate }}</p>
      <!-- <p flex="40">{{::  'ui.options.graphics.' + param.key | translate }}</p> -->
      <md-select select flex class="bng-select-fullwidth"
          ng-model="options.data.values[param.key]" ng-change="options.data.values.GraphicOverallQuality = '0'; options.applyState()" aria-label="_">
        <md-option md-no-ink ng-repeat="opt in options.data.options[param.key].modes.values"
                             ng-value="options.data.options[param.key].modes.keys[$index]">
            {{:: opt }}
        </md-option>
      </md-select>
    </md-list-item>

    <md-list-item layout class="md-padding">
      <p flex="40">{{:: 'ui.options.graphics.GraphicGrassDensity' | translate}}</p>
      <md-slider min="0" max="1" step="0.01" aria-label="_" ng-model="options.data.values.GraphicGrassDensity" flex ng-change="options.data.values.GraphicOverallQuality = '0'; options.applyState()"></md-slider>
    </md-list-item>

    <md-list-item layout="column" class="md-padding">
      <div layout="row" layout-align="center center" style="width: 100%">
        <p flex="40">{{:: 'ui.options.graphics.GraphicMaxDecalCount' | translate}}</p>
        <md-slider min="500" max="20000" step="500" aria-label="_" ng-model="options.data.values.GraphicMaxDecalCount" flex ng-change="options.data.values.GraphicOverallQuality = '0'; options.applyState()"></md-slider>
        <span ng-if="options.data.values.GraphicMaxDecalCount > 6000" flex="10" style="text-align:right; color: red; font-weight: bold">{{options.data.values.GraphicMaxDecalCount}}</span>
        <span ng-if="options.data.values.GraphicMaxDecalCount <= 6000" flex="10" style="text-align:right;">{{options.data.values.GraphicMaxDecalCount}}</span>
      </div>
      <p ng-if="options.data.values.GraphicMaxDecalCount > 6000">
        {{:: 'ui.options.graphics.GraphicMaxDecalCount.warning' | translate}}
      </p>
    </md-list-item>
  </div>
</md-content>
