<md-content>

  <md-list-item style="padding:15px;" layout="column" layout-align="start start" ng-show="options.data.values.communityTranslations !== 'enable'">
    <p><h3>{{ 'ui.options.communityTranslations' | translate }}</h3></p>
    <p>{{ 'ui.options.communityTranslationsAckText' | translate }}</p>
    <md-button flex class="md-warn md-raised" ng-click="opt.enableCommunityTranslations()" style="margin:35px;">
      {{ 'ui.options.communityTranslationsAgree' | translate }}
    </md-button>
  </md-list-item>



  <md-list-item layout class="" ng-show="options.data.values.communityTranslations === 'enable'">
    <p flex="40">{{ 'ui.options.userInterface.language' | translate }}</p>
    <div layout="column">
      <md-select flex ng-model="options.data.values.userLanguage" aria-label="_" ng-change="options.applyLanguage()">
        <md-select-label style="width:100%;"></md-select-label>
        <md-option md-no-ink ng-repeat="lang in options.data.options.userLanguagesAvailable | orderBy:'key'" ng-value="lang.key">{{ lang.name }}</md-option>
      </md-select>
    </div>
  </md-list-item>

  <md-list-item layout class="bng-short-select-item" ng-show="options.data.values.communityTranslations === 'enable' && options.data.values.userLanguage == '' && options.data.values.userLanguageSelected != ''">
    <p flex="40">{{ 'ui.options.detectedLanguage' | translate }}</p>
    <span>{{options.data.values.userLanguageSelectedLong}}</span>
  </md-list-item>

  <md-list-item layout class="bng-short-select-item" ng-show="options.data.values.communityTranslations === 'enable'">
    <p flex="40"></p>
    <md-button flex class="md-primary md-raised" ng-click="opt.updateTranslations()">
      {{ 'ui.options.gameplay.updateTranslations' | translate }}
    </md-button>
  </md-list-item>

  <md-list-item layout class="bng-short-select-item" ng-show="options.data.values.communityTranslations === 'enable'">
    <p flex="40">{{ 'ui.options.gameplay.helpTranslating' | translate }}</p>
    <a href="http-external://translate.beamng.com/projects/beamngdrive/game/">{{ 'ui.options.gameplay.translationProjectPage' | translate }}</a>
  </md-list-item>

  <md-divider style="margin-top:50px;"></md-divider>

  <md-list-item layout style="margin-top:10px;margin-bottom:10px;" layout-align="start start">
    <p flex="40" >{{ 'ui.options.availableLanguages' | translate }}:</p>
    <p>
      <span ng-repeat="lang in options.data.options.userLanguagesAvailable" ng-if="lang.key != ''" ng-value="lang.key">{{ lang.name }}<span ng-show="!$last">, </span></span>
    </p>
  </md-list-item>

  <md-list-item layout class="bng-short-select-item" ng-show="options.data.values.communityTranslations === 'enable'" ng-if="options.data.values.userLanguageSelected !== options.data.values.languageProvider">
    <p flex="40">Steam Language:</p>
    <p>{{options.data.values.languageProviderLong}}</p>
  </md-list-item>

  <md-list-item layout class="bng-short-select-item" ng-show="options.data.values.communityTranslations === 'enable'" ng-if="options.data.values.userLanguageSelected !== options.data.values.languageOS">
    <p flex="40">Operating System Language:</p>
    <p>{{options.data.values.languageOSLong}}</p>
  </md-list-item>

</md-content>
