<div ng-if="!app.shipping" style="font-weight:bold;width:400px;position:fixed;padding-left:5px;top:5px;left:5px;font-size:60px;font-family:Roboto;margin:0;background-color:rgba(0,0,0,0.6);color:white;border-radius:0px 0px 10px 0px;">DEV RELEASE</div>

<div bng-nav-root>
  <div class="mainmenu menu-size menu-column">
    <div class="mainmenu-title">
      <div class="logo-container">
        <div ng-if="mmCtrl.techLicense" class="logo-tech"></div>
        <div ng-if="!mmCtrl.techLicense" class="logo-{{:: mmCtrl.product }}"></div>
      </div>
    </div>
    <!-- play modes -->
    <div class="menu-row menu-row-nowrap">
      <!-- big button -->
      <div class="menu-button menu-button-withicon menu-button-big" ng-class="{disabled: mmCtrl.big.disabled}" bng-blur="true"
        bng-nav-item nav-item-disabled="{{!mmCtrl.big.disabled}}" ng-click="mmCtrl.handleClick(mmCtrl.big)" bng-sound-class="bng_button_main_ui_default"
        >
        <div class="menu-button-icon" ng-style="{ backgroundImage: 'url(' + mmCtrl.big.icon +')'}"></div>
        <span class="menu-button-text">{{:: mmCtrl.big.translateid | translate}}</span>
      </div>
      <!-- normal buttons -->
      <div class="menu-column mainmenu-buttongroups">
        <div ng-repeat="group in ::mmCtrl.groups" class="menu-row menu-row-stretch menu-row-nowrap mainmenu-buttons {{ group.class }}">
          <div ng-repeat="card in group.list" class="menu-button menu-button-withicon menu-button-med" ng-class="{disabled: card.disabled}" bng-blur="true"
            bng-nav-item nav-item-disabled="{{!card.disabled}}" disabled="{{!card.disabled}}" ng-click="mmCtrl.handleClick(card)" bng-sound-class="bng_button_main_ui_default"
            >
            <div class="menu-button-icon" style="background-image: url('{{:: card.icon }}');"></div>
            <span class="menu-button-text">
              {{:: card.translateid | translate}}
              <span ng-if="card.disabled"><br/>({{ 'ui.playmodes.comingSoon' | translate}})</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- bottom buttons -->
    <div class="mainmenu-buttons menu-row mainmenu-buttons-smwrap">
      <!-- replays -->
      <div class="menu-button menu-button-small" ui-sref="menu.replay" bng-blur="true"
        bng-nav-item bng-sound-class="bng_button_main_ui_default"
        >
        <span class="menu-button-text">{{ 'ui.dashboard.replay' | translate }}</span>
      </div>
      <!-- mods -->
      <div class="menu-button menu-button-small" ui-sref="menu.mods.local" bng-blur="true"
        bng-nav-item bng-sound-class="bng_button_main_ui_default"
        ng-class="{'menu-button-bad': mmCtrl.settings.disableModsAfterUpdate}"
        ng-if="mmCtrl.settings.onlineFeatures === 'disable' || mmCtrl.settings.disableModsAfterUpdate"
        >
        <span class="menu-button-text">
          {{ 'ui.mainmenu.mods' | translate}}
          <small ng-if="mmCtrl.modsTotal !== 0" class="menu-button-subtext" translate="ui.modmanager.numActive" translate-values="{ all: mmCtrl.modsTotal, active: mmCtrl.modsActive}"></small>
        </span>
      </div>
      <!-- repo -->
      <div class="menu-button menu-button-small" ui-sref="menu.mods.repository" bng-blur="true"
        bng-nav-item bng-sound-class="bng_button_main_ui_default"
        ng-if="mmCtrl.settings.onlineFeatures === 'enable' && !mmCtrl.settings.disableModsAfterUpdate"
        >
        <span class="menu-button-text">
          {{ 'ui.mainmenu.repo' | translate}}
          <small ng-if="mmCtrl.modsTotal !== 0" class="menu-button-subtext" translate="ui.modmanager.numActive" translate-values="{ all: mmCtrl.modsTotal, active: mmCtrl.modsActive}"></small>
        </span>
      </div>
      <!-- news (will open in a browser) -->
      <!-- <a class="menu-button menu-button-small" href="http-external://go.beamng.com/devblog"
        bng-nav-item bng-sound-class="bng_button_main_ui_default"
        >
        <span ng-class="{'heading-long': (('ui.mainmenu.news' | translate).length) > 5}" >
          {{ 'ui.mainmenu.news' | translate }}
        </span>
        <small ng-if="dateShort !== undefined">
          {{:: dateShort}}
        </small>
      </a> -->
      <!-- credits -->
      <div class="menu-button menu-button-small" ui-sref="credits" bng-blur="true"
        bng-nav-item bng-sound-class="bng_button_main_ui_default"
        >
        <span class="menu-button-text">{{ 'ui.mainmenu.credits' | translate }}</span>
      </div>
      <!-- options -->
      <div class="menu-button menu-button-small" ui-sref="menu.options.graphics" bng-blur="true"
        bng-nav-item bng-sound-class="bng_button_main_ui_default"
        >
        <span class="menu-button-text">{{ 'ui.mainmenu.options' | translate }}</span>
      </div>
      <!-- exit -->
      <div class="menu-button menu-button-small menu-button-withicon menu-button-quit" ng-click="quit();" bng-blur="true"
        bng-nav-item bng-sound-class="bng_button_main_ui_default"
        >
        <div class="menu-button-icon" style="background-image: url('/ui/modules/mainmenu/drive/icons/quit.svg');"></div>
        <span class="menu-button-text">{{ 'ui.inputActions.general.quit.title' | translate }}</span>
      </div>
    </div>
  </div>

</div>
