<div class="bngApp multiplayer" ng-style="{'width': mainStyle.appWidth, 'height': mainStyle.appHeight}" ng-init="init()">
  <style>
    table {
      width: 100%;
    }
    th {
      text-align: left;
      font-weight: normal;
    }
    td {
      vertical-align: middle;
    }
    input[type=number] {
      width: 58px;
    }
    .BeamNGMP {
      height: 100%;
    }
    .title {
      font-size: 1em;
      font-weight: bold;
      color: #BBBBBB;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    .over-div {
      position: absolute;
      top: 20px;
      left: 50%;
      width: 50%;
      height: auto;
      font-size: 0.8em;
      color: #000000;
      visibility: hidden;
    }
    .over-div table {
      display: inline-block;
      position: relative;
      left: -50%;
      width: 240px;
      background-color: #FFFFFF;
    }
    .over-div td {
      display: inline-block;
      margin: 0px;
      padding: 0px;
      border: 0px;
      width: 50%;
      float: left;
      background-color: #FFFFFF;
    }
    .over-div td:hover {
      background-color: #C8C8C8;
    }
    .flat-button {
      display: inline-block;
      padding: 0px 8px;
      line-height: 1.5em;
      text-align: center;
      color: #000000;
      background-color: #DADADA;
      border: 1px solid #888888;
      min-width: 37px;
    }
    .flat-button:hover {
      background-color: #C8C8C8;
    }
    .flat-button:active {
      background-color: #A8A8A8;
    }
    .b-important {
      font-weight: bold;
    }
    .b-important:hover {
      background-color: #C8FFC8;
    }
    .b-important:active {
      background-color: #A8FFA8;
    }
    .b-hide {
      position: absolute;
      padding: 0px;
      top: 4px;
      right: 4px;
      width: 16px;
      height: 16px;
      font-size: 0.7em;
    }
    .b-check {
      padding: 0px;
      width: 20px;
      height: 20px;
      line-height: 1em;
    }
    .select {
      display: inline-block;
      margin: 0px;
      width: 120px;
      height: auto;
      background-color: white;
    }
    .option {
      width: 120px;
      height: 20px;
    }
    .column-wide-2 {
      width: 49%;
    }
    .error{
      border-color: red;
    }
  </style>
  <table ng-style="{'visibility': mainStyle.appShow}">
    <tr>
      <th colspan="4"><span class="title">Multiplayer</span></th>
    </tr>
    <tr>
      <td colspan="4">
        Session Options:
        <input id="PORT" flex type="number" value="4444" placeholder="4444" min="3359" max="40000" step="1" value="{{port}}" ng-model="joinOptions.port" ng-mouseenter="enterMouse()" ng-change="setPort()">
        <input id="IP" flex type="text" placeholder="192.168.0.1" value="{{ip}}" ng-model="joinOptions.ip" ng-mouseenter="enterMouse()" ng-click="enterMouse()" ng-change="setIP()">
        <input id="NICKNAME" flex style="width: 182px;" type="text" placeholder="Nickname" ng-model="Nickname" value="{{Nickname}}" ng-mouseenter="enterMouse()" ng-change="setNickname()">
      </td>
    </tr>
    <tr>
      <td colspan="1" style="width: 85px;">
        <span id="PING">Ping: </span>
      </td>
      <td colspan="2">
        <span id="STATUS">Status: </span>
      </td>
      <td colspan="1" style="text-align: right;width: 114px;padding-right: 5px;">
          <span class="flat-button b-important" ng-click="hostSession()">Host</span>
          <span class="flat-button b-important" ng-click="joinSession()">Join</span>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        Chat:
        <input id="CHATMESSAGE" flex style="width: 455px;" type="text" placeholder="Enter Message" ng-model="ChatMessage" value="{{ChatMessage}}" ng-mouseenter="enterMouse()" ng-change="setChatMessage()">
        <span class="flat-button b-important" ng-click="chatSend()">Send</span>
      </td>
    </tr>
  </table>
</div>
