<link type="text/css" rel="stylesheet" href="/ui/modules/multiplayer/multiplayer.css">

<mp-menu-navbar></mp-menu-navbar>
<div class="server-container">
	<div class="server-navbar">
		<section class="server-navbar__left">
			<input ng-model="multiplayermenu.searchText" ng-change="multiplayermenu.repopulate();" type="text"
				id="search" name="search" placeholder="Search" ng-class="" ng-style="" tabindex="false" />

			<button id="refresh-button" class="servers-button" ng-class="" ng-click="multiplayer.refreshList()">
				{{:: 'ui.multiplayer.refresh' | translate}}
			</button>

			<button id="addserver-button" class="servers-button" ng-class="" ng-click="multiplayer.showCustomServer()">
				{{:: 'ui.multiplayer.addCustomServer' | translate}}
			</button>
		</section>

		<section class="server-navbar__right">
			<!-- Mod Size -->
			<div class="filter__mod_size">
				<md-checkbox ng-model="multiplayermenu.checkModSlider" ng-change="multiplayermenu.repopulate();"
					md-class="" md-style="" tabindex="false">
					<md-tooltip md-direction="right">
						{{:: 'ui.multiplayer.modSliderTooltip' | translate}}
					</md-tooltip md-no-ink>
					{{:: 'ui.multiplayer.modSlider' | translate}}({{multiplayermenu.sliderMaxModSize}} MB)
				</md-checkbox>

				<md-slider ng-if="multiplayermenu.checkModSlider" ng-model="multiplayermenu.sliderMaxModSize" min="0"
					max="5000" step="50" aria-label="_" ng-change="multiplayermenu.repopulate();" ng-class=""
					ng-style="" tabindex="false">
				</md-slider>
			</div>

			<!-- Map Selector -->
			<div class="server-filters">
				<md-select id="map-select" ng-model="multiplayermenu.selectMap" placeholder="All"
					class="md-no-underline dropdown" ng-change="multiplayermenu.repopulate();">
					<md-tooltip md-direction="right">
						{{:: 'ui.multiplayer.mapFilterTooltip' | translate}}
					</md-tooltip>

					<md-option ng-repeat="map in multiplayermenu.availableMaps"
						ng-value="multiplayermenu.availableMaps[$index]" style="height: 40px;">
						{{ map }}
					</md-option>
				</md-select>

				<!-- Not Empty Filter -->
				<md-checkbox type="checkbox" ng-model="multiplayermenu.checkIsEmpty"
					ng-change="multiplayermenu.repopulate();" ng-class="" ng-style="" tabindex="false">
					{{:: 'ui.multiplayer.emptyOnly' | translate}}
					<md-tooltip md-direction="right" md-class="" md-style="">
						{{:: 'ui.multiplayer.emptyOnlyTooltip' | translate}}
					</md-tooltip md-no-ink>
				</md-checkbox>

				<!-- Not Full Filter -->
				<md-checkbox ng-model="multiplayermenu.checkIsNotFull" ng-change="multiplayermenu.repopulate();"
					ng-class="" ng-style="" tabindex="false">
					<md-tooltip md-direction="right" md-class="" md-style="">
						{{:: 'ui.multiplayer.notFullTooltip' | translate}}
					</md-tooltip md-no-ink>
					{{:: 'ui.multiplayer.notFull' | translate}}
				</md-checkbox>
			</div>
		</section>
	</div>

	<table id="serversTable">
		<thead>
			<tr id="header">
				<th>{{:: 'ui.multiplayer.location' | translate}}</th>
				<th>{{:: 'ui.multiplayer.description' | translate}}</th>
				<th>{{:: 'ui.multiplayer.map' | translate}}</th>
				<th>{{:: 'ui.multiplayer.players' | translate}}</th>
				<th>PPS</th>
			</tr>
		</thead>
		<tbody id="serversTableBody">
		</tbody>
	</table>

	<div id="footer">
		<span id="TEMPAREA" style="display:none;"></span>
	</div>
</div>

<script>

</script>