<!-- DataTables CSS --
<link href="modules/multiplayer/css/dataTables/dataTables.bootstrap.css" rel="stylesheet">

<!-- DataTables Responsive CSS -->
<link href="modules/multiplayer/css/dataTables/dataTables.responsive.css" rel="stylesheet">

<!-- DataTables JavaScript -->
<!--<script src="./modules/multiplayer/js/dataTables/jquery.dataTables.min.js"></script>
<script src="./modules/multiplayer/js/dataTables/dataTables.bootstrap.min.js"></script>-->

<md-content>
	<div>
		<md-list-item layout class="md-padding" style="padding-top: 15px; padding-bottom: 0;">
			<input type="text" id="search" name="search" placeholder="Search" oninput="displayServers()"/>
			<md-button id="refresh-button" class="button" ng-class="" ng-click="multiplayer.refreshList()">{{:: 'ui.multiplayer.refresh' | translate}}</md-button>
			<md-button id="addserver-button" class="button" ng-class="" style="margin-left:15px" ng-click="multiplayer.showCustomServer()">{{:: 'ui.multiplayer.addCustomServer' | translate}}</md-button>
			
			<input type="checkbox" id="check_hasPlayers" name="check_hasPlayers" style="margin-left:15px;" onclick="displayServers()"/>
				<label for="check_hasPlayers" style="margin-right:15px; color: white;">Not empty</label>
			<input type="checkbox" id="check_notFull" name="check_notFull" style="margin-left:15px;" onclick="displayServers()"/>
				<label for="check_notFull" style="color: white;">Not full</label>

			<md-button id="connect-button" class="button" ng-class="" ng-click="multiplayer.connect()">{{:: 'ui.multiplayer.connect' | translate}}</md-button>
		</md-list-item>
		<md-divider></md-divider>
	</div>

	<table id="serversTable">
		<thead>
			<tr id="header">
				<th>{{:: 'ui.multiplayer.location' | translate}}</th>
				<th>{{:: 'ui.multiplayer.description' | translate}}</th>
				<th>{{:: 'ui.multiplayer.map' | translate}}</th>
				<th>{{:: 'ui.multiplayer.players' | translate}}</th>
				<th>PPS</th>
			</tr>
		</thead>
		<tbody id="serversTableBody">
		</tbody>
	</table>

	<div id="footer">
		<span id="TEMPAREA" style="display:none;"></span>
  </div>
</md-content>

<script>

</script>
