<div style="height:100%; background-color: rgba(0, 0, 0, 0.50);">
	<div class="offset-div">
		<div id="MultiplayerLoginBody" style="display:flex; height:100%; flex-direction:column; padding-left:150px; align-items: center; justify-content: center;">
			<img src="local://local/ui/modules/multiplayer/beammp.png" alt="BeamMP Logo">
			<h2 class="text-red" id="LOGINERRORFIELD"></h2>
			<form id="LoginContainer">
				<h2 class="text-white" id="loginHeader">{{:: 'ui.multiplayer.loginDescription1' | translate}}</h2>
				<input (keyup.enter)="multiplayer.login()" type="text" id="loginUsername" placeholder="Username / Email"/>
				<input (keyup.enter)="multiplayer.login()" type="password" id="loginPassword" placeholder="Password"/>
				<div style="display:flex; align-content: space-evenly; width: 400px;">
					<md-button class="button" style="margin-left: 0;" ng-click="login()">{{:: 'ui.multiplayer.login' | translate}}</md-button>
					<md-button class="button" ng-click="switchConnection()">{{:: 'ui.multiplayer.playAsGuest' | translate}}</md-button>
					<md-button class="button" style="margin-right: 0;" onclick="openExternalLink('https://forum.beammp.com/signup')">{{:: 'ui.multiplayer.register' | translate}}</md-button>
				</div>
			</form>
			<form id="GuestContainer" style="display: none;">
				<h3 class="text-white">{{:: 'ui.multiplayer.guestDescription1' | translate}}</h3>
				<div style="display:flex;  align-content: space-evenly;">
					<md-button class="button" ng-click="guestLogin()">{{:: 'ui.multiplayer.play' | translate}}</md-button>
					<md-button class="button" ng-click="switchConnection()">{{:: 'ui.multiplayer.iHaveAnAccount' | translate}}</md-button>
				</div>
			</form>
		</div>
	</div>
</div>
