.offset-div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -90px;
  top: -50px;
}

#top-bar {
  background: #404040b8;
}

#left-menu {
  color: white;
  background-color: #404040b8;
}

#map-select {
  height: 40px;
  background: unset;
  color: white !important;
}

#back {
  width: 100%;
  height: 100%;
}

#serversTableContainer {
	overflow-x: hidden;
}

table#serversTable {
  width: 100%;
  color: white;
  position: relative;
}

#serversTable th {
	/*
	position: sticky;
	top: 0;
	*/
	z-index: 150;
}

#serversTableBody {
	z-index: 140;
}

#serversTable th {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  transition: 0.2s;
}

#serversTable th:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

#serversTable tr:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.highlight {
  background-color: #99aab5 !important;
}

.dropdown {
  min-width: 150px;
}

.button {
  color: white;
  text-align: center;
  background-color: rgb(212, 100, 26);
  text-decoration: none;
  font-size: 15px;
  width: 100%;
  transition-duration: 0.15s;
  cursor: pointer;
}

.servers-button {
  width: 200px;
  margin: 0 0 0 10px;
  height: 40px;
}

.button:hover {
  background-color: white;
}

.close-button {
  width: 50px;
  margin-left: auto;
  float: right;
  margin-right: 5px;
}

#connect-button {
  width: 200px;
  margin-left: auto;
  float: right;
}

#direct-connect-button {
  width: 425px;
  margin-left: 0px;
}

#launcher-connect-button {
  width: 250px;
  margin: 0 10px 0 0;
  background: #576ebf;
}
#launcher-connect-button:hover {
  background-color: #374eaf;
}

#launcher-port {
  width: 125px;
  margin-bottom: 8px;
}

md-content {
  background-color: rgba(101, 101, 101, 0.34);
}

div#LoadingServer {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
}

div#LoadingBody {
  margin: 20%;
  width: 60%;
  background-color: #848484;
  padding: 15px;
  border-radius: 5px;
}

div#addCustomFav {
  color: white;
  background-color: rgba(0, 0, 0, 0.75);

  position: absolute;
  z-index: 100;

  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;

  background-color: #848484;
  padding: 15px;
  border-radius: 5px;
}

input {
  display: block;
  width: 400px;
  margin: 0 0 20px;
  padding: 8px 12px 10px 12px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.25);
  color: white;
}

.row {
  width: 100%;
  padding-top: 10px;
  display: flex;
}

.col {
  width: 50%;
}

tr#ServerInfoRow {
  background-color: #3535357a;
}

ul.serverItemDetails {
  list-style: none;
}

md-checkbox .md-container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  display: inline-block;
  width: 18px;
  height: 18px;
  left: 0;
  right: auto;
}

md-checkbox {
  box-sizing: border-box;
  display: block;
  margin: 8px;
  white-space: nowrap;
  cursor: pointer;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 18px;
  padding-right: 0;
  position: relative;
  line-height: 26px;
  min-width: 18px;
  color: white;
  min-height: 18px;
}

md-slider.ng-pristine.ng-untouched.ng-valid.md-default-theme.ng-empty {
  padding-top: 0px;
}

[placeholder]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
[placeholder]:hover::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}

[placeholder]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
[placeholder]:hover::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
[placeholder]:focus::-moz-placeholder {
  color: transparent;
}

[placeholder]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
[placeholder]:hover:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
[placeholder]:focus:-ms-input-placeholder {
  color: transparent;
}

.text-white {
  color: white;
}

.text-red {
  color: red;
}

/** ######################################################## **/
/**             STRENGTH STYLING                             **/
/** ######################################################## **/
.icon__signal-strength {
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 20px;
  height: 13px;
  padding: 4px;
}

.icon__signal-strength span {
  display: inline-block;
  width: 6px;
  margin-left: 2px;
  transform-origin: 100% 100%;
  background-color: #00cc00;
  border-radius: 2px;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.42, 1.3);
  animation-fill-mode: both;
  animation-play-state: paused;
}

.icon__signal-strength .bar-1 {
  height: 25%;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
}
.icon__signal-strength .bar-2 {
  height: 50%;
  animation-duration: 0.25s;
  animation-delay: 0.2s;
}
.icon__signal-strength .bar-3 {
  height: 75%;
  animation-duration: 0.2s;
  animation-delay: 0.3s;
}
.icon__signal-strength .bar-4 {
  height: 100%;
  animation-duration: 0.15s;
  animation-delay: 0.4s;
}

.signal-0 .bar-1,
.signal-0 .bar-2,
.signal-0 .bar-3,
.signal-0 .bar-4 {
  opacity: 0.2;
}

.signal-1 .bar-2,
.signal-1 .bar-3,
.signal-1 .bar-4 {
  opacity: 0.2;
}

.signal-2 .bar-3,
.signal-2 .bar-4 {
  opacity: 0.2;
}

.signal-3 .bar-4 {
  opacity: 0.2;
}

@keyframes signal-intro {
  from {
    opacity: 0.2;
    height: 2px;
  }
}

@keyframes loadingShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}
.loading-shimmer {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: loadingShimmer;
  animation-timing-function: linear;
  background: rgba(255, 255, 255, 0);
  background: linear-gradient(to right, #eeeeee00 8%, #dddddd75 18%, #eeeeee00 33%);
  background-size: 1000px 22px;
  height: 22px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.flag {
  height: 17px;
  float: left;
  position: relative;
  top: 2px;
  max-width: 34px;
}