<!-- DataTables CSS --
<link href="modules/multiplayer/css/dataTables/dataTables.bootstrap.css" rel="stylesheet">

<!-- DataTables Responsive CSS -->
<link href="modules/multiplayer/css/dataTables/dataTables.responsive.css" rel="stylesheet">

<!-- DataTables JavaScript -->
<!--<script src="./modules/multiplayer/js/dataTables/jquery.dataTables.min.js"></script>
<script src="./modules/multiplayer/js/dataTables/dataTables.bootstrap.min.js"></script>-->

<mp-menu-navbar></mp-menu-navbar>
<div id="primary-div">
	<div layout="row" layout-padding="">
		<input ng-model="multiplayermenu.searchText" ng-change="multiplayermenu.repopulate();" type="text" id="search"
			name="search" placeholder="Search" />
		<button id="refresh-button" class="servers-button" ng-click="multiplayer.refreshList()" tabindex="false" ng-class="" ng-style="">
			{{:: 'ui.multiplayer.refresh' | translate}}</button>
		<button id="clear-button" class="servers-button" ng-click="multiplayer.clearRecents()">
			Clear recents</button>

		<md-divider></md-divider>
	</div>

	<table id="serversTable">
		<thead>
			<tr id="header">
				<th onclick="sortTable('location', false)">{{:: 'ui.multiplayer.location' | translate}}</th>
				<th onclick="sortTable('sname', false)">{{:: 'ui.multiplayer.description' | translate}}</th>
				<th onclick="sortTable('map', false)">{{:: 'ui.multiplayer.map' | translate}}</th>
				<th onclick="sortTable('players', true)">{{:: 'ui.multiplayer.players' | translate}}</th>
				<th onclick="sortTable('pps', true)">PPS</th>
			</tr>
		</thead>
		<tbody id="serversTableBody">
		</tbody>
	</table>

	<div id="footer">
		<span id="TEMPAREA" style="display:none;"></span>
	</div>
</div>

<script>

</script>