<!-- DataTables CSS --
<link href="modules/multiplayer/css/dataTables/dataTables.bootstrap.css" rel="stylesheet">

<!-- DataTables Responsive CSS --
<link href="modules/multiplayer/css/dataTables/dataTables.responsive.css" rel="stylesheet">

<!-- DataTables JavaScript -->
<!--<script src="./modules/multiplayer/js/dataTables/jquery.dataTables.min.js"></script>
<script src="./modules/multiplayer/js/dataTables/dataTables.bootstrap.min.js"></script>-->

<md-content>
	<div layout="row" layout-padding="">
			<input ng-model="multiplayermenu.searchText" ng-change="multiplayermenu.repopulate();" type="text" id="search" name="search" placeholder="Search"/>
			<md-button id="refresh-button" class="button servers-button" ng-class="" ng-click="multiplayer.refreshList()">{{:: 'ui.multiplayer.refresh' | translate}}</md-button>

			<md-checkbox ng-model="multiplayermenu.checkIsEmpty" ng-change="multiplayermenu.repopulate();">
				<md-tooltip md-direction="right">
					{{:: 'ui.multiplayer.emptyOnlyTooltip' | translate}}
				</md-tooltip md-no-ink>
				{{:: 'ui.multiplayer.emptyOnly' | translate}}
			</md-checkbox>

			<md-checkbox ng-model="multiplayermenu.checkIsNotEmpty" ng-change="multiplayermenu.repopulate();">
				<md-tooltip md-direction="right">
					{{:: 'ui.multiplayer.notEmptyTooltip' | translate}}
				</md-tooltip md-no-ink>
				{{:: 'ui.multiplayer.notEmpty' | translate}}
			</md-checkbox>

			<md-checkbox ng-model="multiplayermenu.checkIsNotFull" ng-change="multiplayermenu.repopulate();">
				<md-tooltip md-direction="right">
					{{:: 'ui.multiplayer.notFullTooltip' | translate}}
				</md-tooltip md-no-ink>
				{{:: 'ui.multiplayer.notFull' | translate}}
			</md-checkbox>


			<md-select id="map-select" ng-model="multiplayermenu.selectMap" placeholder="All" class="md-no-underline dropdown" ng-change="multiplayermenu.repopulate();">
				<md-tooltip md-direction="right">
					{{:: 'ui.multiplayer.mapFilterTooltip' | translate}}
				</md-tooltip>

				<md-option ng-repeat="map in multiplayermenu.availableMaps" ng-value="multiplayermenu.availableMaps[$index]" style="height: 40px;">
					{{ map }}
				</md-option>
			</md-select>


			<md-checkbox ng-model="multiplayermenu.checkModSlider" ng-change="multiplayermenu.repopulate();">
				<md-tooltip md-direction="right">
					{{:: 'ui.multiplayer.modSliderTooltip' | translate}}
				</md-tooltip md-no-ink>
				{{:: 'ui.multiplayer.modSlider' | translate}}
			</md-checkbox>

			<md-slider flex ng-if="multiplayermenu.checkModSlider"
				ng-model="multiplayermenu.sliderMaxModSize" min="0" max="5000" step="50" aria-label="_"
				ng-change="multiplayermenu.repopulate();">
			</md-slider>
			<span ng-if="multiplayermenu.checkModSlider" style="margin: 0px 15px; padding-top: 13px; color: white;">{{ multiplayermenu.sliderMaxModSize }} MB</span>

		<md-divider></md-divider>
	</div>

	<table id="serversTable">
		<thead>
			<tr id="header">
				<th onclick="sortTable('location', false)">{{:: 'ui.multiplayer.location' | translate}}</th>
				<th onclick="sortTable('sname', false)">{{:: 'ui.multiplayer.description' | translate}}</th>
				<th onclick="sortTable('map', false)">{{:: 'ui.multiplayer.map' | translate}}</th>
				<th onclick="sortTable('players', true)">{{:: 'ui.multiplayer.players' | translate}}</th>
				<th onclick="sortTable('pps', true)">PPS</th>
			</tr>
		</thead>
		<tbody id="serversTableBody">

		</tbody>
	</table>

	<div id="footer">
		<span id="TEMPAREA" style="display:none;"></span>
		<span id="TEMPNODE" style="display:none;"></span>
	</div>
</md-content>

<script>

</script>