input {
    padding: 4px;
}

input.server-ip {}

input.server-port {
    width: 40px;
}

button {
    padding: 4px;
    width: 50px;
}

.console {
    width: 100%;
    height: 15%;
    min-height: 150px;
    position: fixed;
    bottom: 0;
    background-color: #cecece;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.controls {
    margin: 8px;
}

.info {
    margin: 40px;
}

span.copyright {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: #9e9e9e;
}

span.java {
    margin-left: 10px;
}

ul#console {
    font-family: monospace;
    padding-left: 11px;
    overflow-y: scroll;
    margin-top: 0px;
    padding-top: 15px;
    max-height: 90%;
}

li {
    list-style: none;
}

span.time {
    color: #18d3ff;
    background-color: #8e8e8e;
    padding: 4px 6px;
}

span.consoleMessage {
    padding-left: 100px;
    display: block;
    position: relative;
    top: -14px;
}

span.warn {
    color: #ff8605;
}

span.error {
    color: #ff0505;
}


span.server-copyright {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #a2a2a2;
}

.server-console {
    background-color: #252525;
    min-height: 100%;
    width: 100%;
    color: aliceblue;
    margin: 0;
    padding: 8px;
}

.server-command {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
}

input#server-input {
    width: 100%;
}

body {
    overflow: hidden;
}
