<link rel="stylesheet" type="text/css" href="modules/vehicleselect/vehicleselect.css" />

<md-content flex="65" style="max-width:1200px; height: 100%" layout="column" class="VehicleSelect">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <ng-md-icon class="material-icons" style="fill:white; margin: 0 10px; cursor:pointer" ui-sref="{{vehicle.mode.parentState}}.vehicles({refresh: false, mode: '{{vehicle.mode.name}}'})">
        arrow_back
      </ng-md-icon>
      <span flex> {{ ::vehicle.model['Brand'] }} {{ ::vehicle.model['Name'] }} </span>
    </div>
  </md-toolbar>

  <div flex layout-padding style="overflow-y: auto">
    <md-grid-list flex
          md-cols-sm="1" md-cols-md="2" md-cols-lg="3" md-cols-gt-lg="4"
          md-row-height-gt-md="25:12" md-row-height="25:12"
          md-gutter="4px" md-gutter-gt-sm="4px">
      <md-grid-tile ng-repeat="config in vehicle.configs | orderObjectBy:'Value'" class="gridItem"
        bng-all-clicks-no-nav single="vehicle.selectConfig(config.key, false)" double="vehicle.launchConfig(false)" ng-focus="vehicle.selectConfig(config.key, false)" ng-class="(config.key === vehicle.selectedConfig.key) ? 'selectedGridItem' : ''">

        <imageslider imageurls="config.preview" style="height: 100%; width: 100%"></imageslider>

        <div class="vehicleFooter" style="position: absolute; left: 0; bottom: 0; right: 0;" layout="row" layout-align="start center">
          <bng-icon style="margin-left: 0.5em; width: 1em; position: relative;" src="'general_beamng_logo_w'" type="sprite" ng-if=":: config.Source === 'BeamNG - Official'"></bng-icon>
          <bng-icon style="margin-left: 0.5em; width: 1em; position: relative;" src="'Assets/Original/camshaft_automation_logo.svg'" type="img" ng-if=":: config.Type === 'Automation'"></bng-icon>
          <div layout-align="center center" style="margin-left: 0.5em; width: calc(100% - 2em);" class="truncate">
            {{ ::config.Configuration || config.Name || 'Default' }}
          </div>
        </div>
      </md-grid-tile>
    </md-grid-list>
  </div>
</md-content>


<md-content flex="35" ng-show="vehicle.selectedConfig" layout="column" style="max-width: 400px; height: 100%;">
  <md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools">
      <span flex>{{ vehicle.selectedConfig.Name || 'Default' }}</span>
    </div>
  </md-toolbar>

  <imageslider imageurls="vehicle.selectedConfig.preview" style="width: 100%;min-height:200px;"></imageslider>

  <md-tabs flex md-stretch-tabs="always" md-no-ink style="overflow-y:auto" md-selected="vehicle.openTab">
    <md-tab label="Overview">
      <md-list-item>
        <ng-color flex show-main="false" show-alpha="false" ng-model="vehicle.selectedColor"
          pre-col="{{ ::vehicle.model.colors }}" show-preview="true"></ng-color>
      </md-list-item>
      <div style="margin-top: 20px">

        <table class="bng-list-table" style="width: 100%">
          <td colspan="2" ng-if="vehicle.selectedConfig['Description']" style="border-bottom: solid 2px whitesmoke"> <p> {{ vehicle.selectedConfig['Description'] }}</p></td>
          <tr ng-repeat="key in vehicle.overviewKeylist" ng-if="vehicle.showData(key, false)">
            <td class="md-body-1" style="font-weight: bold; min-width: 30%">{{ ::key }}</td>
            <td class="md-body-1" ng-if=":: !vehicle.isRealRange(key)" >{{ vehicle.considerUnit(key, vehicle.selectedConfig[key]) }}</td>
            <td class="md-body-1" ng-if=":: vehicle.isRealRange(key)" >{{ vehicle.considerUnit(key, vehicle.selectedConfig[key].min) }} - {{ vehicle.considerUnit(key, vehicle.selectedConfig[key].max) }}</td>
          </tr>
        </table>
      </div>
    </md-tab>
    <md-tab label="Performance" ng-if="vehicle.showPerf">
      <md-list style="padding-top:20px">
        <md-list-item>
        <table class="bng-list-table" style="width: 100%">
          <tr ng-if=" vehicle.selectedConfig['Torque'] !== undefined && vehicle.selectedConfig['TorquePeakRPM'] !== undefined">
            <td class="md-body-1" style="font-weight: bold; min-width: 30%">Torque</td>
            <td class="md-body-1">{{ vehicle.considerUnit('Torque', vehicle.selectedConfig['Torque']) }} @ {{ vehicle.selectedConfig['TorquePeakRPM']}} rpm</td>
         </tr>
         <tr ng-if="vehicle.selectedConfig['Power'] !== undefined && vehicle.selectedConfig['PowerPeakRPM'] !== undefined">
            <td class="md-body-1" style="font-weight: bold; min-width: 30%">Power</td>
            <td class="md-body-1">{{ vehicle.considerUnit('Power', vehicle.selectedConfig['Power']) }} @ {{ vehicle.selectedConfig['PowerPeakRPM']}} rpm</td>
         </tr>
          <tr ng-repeat="key in vehicle.perfKeyList" ng-if="vehicle.showData(key, true)">
            <td class="md-body-1" style="font-weight: bold; min-width: 30%">{{ ::key }}</td>
            <td class="md-body-1" ng-if=":: !vehicle.isRealRange(key)" >{{ vehicle.considerUnit(key, vehicle.selectedConfig[key]) }}</td>
            <td class="md-body-1" ng-if=":: vehicle.isRealRange(key)" >{{ vehicle.considerUnit(key, vehicle.selectedConfig[key].min) }} - {{ vehicle.considerUnit(key, vehicle.selectedConfig[key].max) }}</td>
          </tr>
        </table>
        </md-list-item>
      </md-list>
    </md-tab>

    <md-tab label="Color">
      <ng-color flex show-main="true" show-alpha="true" ng-model="vehicle.selectedColor" pre-col="{{ ::vehicle.model.colors }}"></ng-color>
    </md-tab>
  </md-tabs>

  <div layout-md="column" layout="row">
    <md-button flex class="md-raised md-primary" ng-click="vehicle.launchConfig(true)" ng-if="!vehicle.mode.hide.spawnNew" ng-disabled="vehicle.disableSpawnNew(app.gameState)">Spawn New</md-button>
    <!--<md-button flex class="md-raised md-accent" ng-click="vehicle.launchConfig(false)">{{vehicle.mode.selectButton ? (vehicle.mode.selectButton | translate ) : "Replace Current"}}</md-button>-->
  </div>
</md-content>
