<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">26</div>
                        <div>Log messages</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">0.6.2</div>
                        <div>Version info</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">124</div>
                        <div>New Orders!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">13</div>
                        <div>Support Tickets!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Performance
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" style="width:100%;height:200px;">
                <flot dataset="flotFPSDataSet" options="flotFPSOptions"></flot>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>


    <div class="col-lg-12">
        <div class="panel panel-default" ng-if="$root.engineConnectionState == 'connected'">
            <div class="panel-heading">
                <i class="fa fa-list fa-fw"></i> Lua console
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <textarea style="max-height:400px;width:100%;border:0;font-family:monospace;" cols="50" rows="30" ng-model="execResult" placeholder="Please execute a command below" readonly></textarea>
                <form ng-submit="runEngineLua(execQuery)">
                <input type="text" ng-model="execQuery" style="width:100%">
                </form>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

        <div class="panel panel-default" ng-if="$root.engineConnectionState == 'connected'">
            <div class="panel-heading">
                <i class="fa fa-codepen fa-fw"></i> Console examples
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <a href ng-click="runEngineLua('print(_VERSION)')">Lua version</a>,
                <a href ng-click="runEngineLua('return hardwareinfo.getInfo()')">Hardware info</a>,
                <a href ng-click="runEngineLua('return be:getPlayerVehicleID(0)')">Player Vehicle ID</a>,
                <a href ng-click="runEngineLua('return getGameState()')">gameState</a>,
                <a href ng-click="runEngineLua('return getCampaignList()')">campaign List</a>,
            </div>
            <!-- /.panel-body -->
        </div>

    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->
