<style>
html {
  scroll-behavior: smooth;
}
</style>
<md-content id="bng-credits-wrapper" tabindex="0" ng-keypress="creditsCtrl.exit($event)">

  <div class="bng-credits-content">
    <img src="/ui/modules/credits/beammp.png">

    <div>
      <job>BeamMP Development Team</job>
      <div>
        <name>
	  <span>Titch2000</span>
	  <span style="color:#0059ff">.BeamMP Project Lead</span>
        </name>
        <name>
  	  <span>Anonymous275</span>
	  <span style="color:#0059ff">.Lead (Client) BeamMP developer</span>
        </name>
        <name>
    	  <span>Jojos38</span>
	  <span style="color:#0059ff">.Lead (Server) BeamMP developer</span>
        </name>
      </div>
    </div>

    <div>
      <job>BeamMP Contributors</job>
      <div>
        <name>
	  <span>stefan750</span>
	  <span style="color:#0059ff">.pushing cars around</span>
        </name>
        <name>
  	  <span>deer boi</span>
	  <span style="color:#0059ff">.Lead deer developer</span>
        </name>
      </div>
    </div>

    <img src="/ui/modules/credits/beamngdrive.png"" style="margin-top: 150px;">

    <div ng-repeat="category in creditsCtrl.credits">
      <creditsCategory>{{category.translateId | translate}}</creditsCategory>
      <div ng-repeat="member in category.members">
        <creditsMember>
          {{ ::member.first }}
          <span ng-if="::member.aka" style="text-transform: none"> "{{ ::member.aka }}" </span>
          {{ ::member.last }}
          <span ng-if="::member.title" class="title">.{{member.title | translate}}</span>
          &nbsp;<!-- allow to print blank lines using empty fields-->
        </creditsMember>
      </div>
    </div>

    <div style="margin-top:50%">&nbsp;</div>
  </div>
</md-content>
