<md-content style="height:100%; overflow:hidden; box-sizing:border-box" layout="column">
  <div class="md-padding" flex style="overflow-y:auto">
    <div ng-repeat="category in vehConf_tuning.d.variable_categories | orderBy track by $index">
      <h3 class="md-title">{{:: category }}</h3>
      <div ng-repeat="var in vehConf_tuning.d.variables | filter: {category: category} | orderBy: 'subCategory' track by var.name" style="padding: 0;">

        <h5 class="md-subhead" ng-if="::vehConf_tuning.addSpacer(var.subCategory)" style="margin-bottom: 0;">{{ var.subCategory}}</h5>
        <md-list-item layout="row" layout-align="space-between center">
          <md-tooltip ng-if="var.description">{{::var.description}}</md-tooltip>
          <p class="md-body-2" flex="30">{{::var.title}}</p>
          <div flex layout="row" layout-align="space-between center">
            <md-slider ng-model="var.valDis" ng-change="vehConf_tuning.tuningVariablesChanged()"
                       min="{{::var.minDis }}" max="{{::var.maxDis }}" step="{{::var.stepDis }}"
                       aria-label="_" flex style="padding: 0 10px 0 10px;">
            </md-slider>
            <md-input-container style="padding:0; padding-left:5px; width: 70px;">
              <input ng-model="var.valDis" ng-change="vehConf_tuning.tuningVariablesChanged()"
                     class="md-body-1" type="number" flex style="text-align: right"
                     min="{{::var.minDis }}" max="{{::var.maxDis }}" step="{{::var.stepDis }}" aria-label="_" >
            </md-input-container>
            <span class="md-body-1" style="padding-left:5px">{{:: var.unit }}</span>
          </div>
        </md-list-item>
      </div>

      <md-divider></md-divider>
    </div>
  </div>

  <div layout="row" layout-align="start center" class="md-whiteframe-z3">
    <md-checkbox flex ng-model="vehConf_tuning.liveVariablesUpdate">
      <md-tooltip md-direction="right">
        Automatically applies changes when moving the sliders
      </md-tooltip md-no-ink>
      Live Updates
    </md-checkbox>
    <md-button ng-click="vehConf_tuning.resetVars()" class="md-raised md-warn" md-no-ink >
      {{ :: 'ui.common.reset' | translate}}
    </md-button>

    <md-button ng-click="vehConf_tuning.write()" ng-disabled="vehConf_tuning.liveVariablesUpdate"
               class="md-raised md-primary" md-no-ink >
      {{ :: 'ui.common.apply' | translate}}
    </md-button>
  </div>
</md-content>