<style>
#dashmenu {
  border-right:1px solid #ddd;
}
</style>
<div ng-if="!app.mainmenu" ng-show="app.showMenu" style="height: 100%; width: 100%;" layout="row">
  <md-content id="dashmenu" layout="column" layout-align="start center" style="height:100%!important; min-width: 40px; width:40px; z-index:100; overflow:hidden">

    <!-- top buttons-->
    <div ng-repeat="entry in app.getMenuEntries(app.gameState)" ng-if="!entry.bottom && (!entry.advanced || app.settings.values.devMode)">
      <md-button md-no-ink class="md-primary md-icon-button"
                 ng-class="(entry.icon == 'exit_to_app') ? 'md-warn': ''"
                 ui-sref="{{ ::entry.state }}" ui-sref-active="{{ entry.state != '.' ? 'md-accent' : '' }}"
                 ng-click="entry.action($event) || app.toggleState($event, entry.state)" >
        <md-icon class="material-icons dashboard-icons">{{ ::entry.icon }}</md-icon>
        <md-tooltip md-direction="right">{{ entry.translateid | translate}}</md-tooltip>
      </md-button>
      <md-divider ng-if="app.sections[app.gameState].indexOf(entry.state) > -1"></md-divider>
    </div>

    <!-- middle separator -->
    <div flex style="max-height: none;"></div>

    <!-- bottom buttons-->
    <div ng-repeat="entry in app.getMenuEntries(app.gameState)" ng-if="entry.bottom && (!entry.advanced || app.settings.values.devMode)">
        <md-button md-no-ink class="md-primary md-icon-button"
             ng-class="(entry.icon == 'exit_to_app') ? 'md-warn': ''"
             ui-sref="{{ ::entry.state }}" ui-sref-active="{{ entry.state != '.' ? 'md-accent' : '' }}"
             ng-click="entry.action($event) || app.toggleState($event, entry.state)" >
        <md-icon class="material-icons dashboard-icons">{{ ::entry.icon }}</md-icon>
        <md-tooltip md-direction="right">{{ entry.translateid | translate}}</md-tooltip>
      </md-button>
    </div>
  </md-content>

  <div layout="row" layout-fill style="height:100%; box-sizing: border-box;" ui-view></div>
</div>

<div ng-if="app.mainmenu" class="contentNavMainmenu">
  <div style="width:100%; height:100%; position: relative;">
    <fancy-background video-loaded="menuCtrl.videoLoaded()"></fancy-background>
  </div>

  <div ui-view class="container" layout ng-if="menuCtrl.showView"></div>

  <div class="backBtn" ui-sref="menu.mainmenu" ng-if="showBack" layout="row" layout-align="center center">
    <md-icon class="material-icons" style="font-size: 1em;">exit_to_app</md-icon>
    {{ 'ui.mainmenu.background.back' | translate}}
  </div>
</div>