<!-- Icons can be found here: https://fonts.google.com/icons?selected=Material+Icons -->

<link type="text/css" rel="stylesheet" href="/ui/modModules/multiplayer/multiplayer.css">

<div id="LoadingServer" style="display: none;">
  <div id="LoadingBody" style="">
    <button style="right:0; top:0; margin:0;" class="button close-button" ng-class="" ng-click="multiplayer.closeLoadingPopup()"> X </button>
    <h1>{{:: 'ui.multiplayer.connectingToServer' | translate}}</h1>
    <hr id="loadingstatus-divider"/>
    <span id="OriginalLoadingStatus" hidden style="height: 0px;"></span>
    <span id="LoadingStatus" hidden style="height: 0px;">{{multiplayer.loadingStatus}}</span>
    <div id="mod-download-list" ng-if="multiplayer.downloadingMods.length > 0">
      <div ng-repeat="mod in multiplayer.downloadingMods" class="mod-download-row" style="align-items: center; margin-bottom: 10px;">
        <span style="flex: 1;">
          <code>{{mod.number}} - {{mod.name}}</code>
          {{ ' - ' }}
          <span style="color: darkgray;font-size: 0.8em;">{{$index === 0 ? mod.speed : ('ui.multiplayer.download.downloaded' | translate)}}</span>
        </span>
        <div style="flex: 2;" ng-if="$index === 0 && mod.progress != 100">
          <md-progress-linear md-mode="determinate" value="{{mod.progress}}" class="md-accent"></md-progress-linear>
        </div>
        <span ng-if="$index != 0" style="color: green; font-size: 1em; margin-left: 10px; float: right;">
          <md-icon class="material-icons" style="vertical-align: middle;">check_mark</md-icon>
        </span>
      </div>
      <div style="
      pointer-events: none;
      position: absolute;
      left: 0; right: 0; bottom: 0;
      height: 70%;
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(109,109,109,1) 100%);
      "></div>
    </div>
  </div>
</div>

<div id="addCustomFav" style="display: none;" class="filter-overlay">
  <div class="addCustomFav">
    <button style="right:0; top:0; margin:0;" class="button close-button" ng-class="" ng-click="multiplayer.closePopup()"> X </button>
    <md-list-item layout class="md-padding">
      <h1>{{:: 'ui.multiplayer.addCustomServer' | translate}}: </h1>
    </md-list-item>
    <center>
      <input type="text" id="customFavName" name="customFavName" placeholder="Server name"/>
      <input type="text" id="customFavIP" name="customFavIP" placeholder="Server IP"/>
      <input type="text" id="customFavPort" name="customFavPort" placeholder="Server port" value="30814"/>
      <button class="button" ng-click="multiplayer.addCustomServer()" style="margin-top: 20px; width: 400px;">{{:: 'ui.multiplayer.save' | translate}}</button>
    </center>
  </div>
</div>

<md-content id="back" layout="column">

    <div id="top-bar" ng-style="userdata.role === 'EA' ? {'border-bottom-color': '#fe8cff'} : {}">
          <h1 class="md-toolbar-tools" style="width:auto;" ng-style="userdata.role === 'EA' ? {'color': '#fe8cff'} : {'color': 'var(--MP-orange-2)'}">{{:: 'ui.multiplayer.multiplayer' | translate}}</h1>

          <p id="topRightStatus" ng-style="userdata.role === 'EA' ? {'color': '#fe8cff'} : {'color': 'white'}">{{ (userdata.role === 'EA' ? 'ui.multiplayer.patreon.message.ea' : 'ui.multiplayer.patreon.message.user') | translate }}</p>

          <button class="mp-btn2 patreon-btn" ng-click="multiplayer.showMessage()" ng-if="userdata.role !== 'EA'">{{:: 'ui.multiplayer.patreon.button.user' | translate}}</button>
			<!--<md-button id="launcher-connect-button" class="button" ng-click="multiplayer.resetLauncherConnection()">Connect to launcher</md-button>-->
    </div>

    <div flex layout="row" style="overflow: auto;">
      <div class="mp-side-container" layout="column" id="left-menu">
        <div class="mp-btn-container">
          <button class="mp-btn selected-server-mp-btn" id="-mp-btn" ng-click="switchServerView('')">
            <md-icon md-svg-src="/ui/modModules/multiplayer/icons/public.svg"></md-icon>
            {{:: 'ui.multiplayer.servers' | translate}}
          </button>

          <button class="mp-btn" id="featured-mp-btn" ng-click="switchServerView('featured')">
            <md-icon md-svg-src="/ui/modModules/multiplayer/icons/featured.svg"></md-icon>
            {{:: 'ui.multiplayer.featured' | translate}}
          </button>

          <button class="mp-btn" id="official-mp-btn" ng-click="switchServerView('official')">
            <md-icon md-svg-src="/ui/modModules/multiplayer/icons/official.svg"></md-icon>
            {{:: 'ui.multiplayer.official' | translate}}
          </button>

          <button class="mp-btn" id="partner-mp-btn" ng-click="switchServerView('partner')">
            <md-icon md-svg-src="/ui/modModules/multiplayer/icons/partner.svg"></md-icon>
            {{:: 'ui.multiplayer.partner' | translate}}
          </button>

          <button class="mp-btn" id="favorites-mp-btn" ng-click="switchServerView('favorites')">
            <md-icon md-svg-src="/ui/modModules/multiplayer/icons/favorite.svg"></md-icon>
            {{:: 'ui.multiplayer.favorites' | translate}}
          </button>

          <button class="mp-btn" id="recents-mp-btn" ng-click="switchServerView('recents')">
            <md-icon md-svg-src="/ui/modModules/multiplayer/icons/recent.svg"></md-icon>
            {{:: 'ui.multiplayer.recent' | translate}}
          </button>

          <button class="mp-btn" id="direct-connect-mp-btn" ng-class="{'selected-server-mp-btn': (multiplayer.stateName.indexOf('multiplayer.direct') !== -1)}" ui-sref="menu.multiplayer.direct" style="text-align:left;">
            <md-icon md-svg-src="/ui/modModules/multiplayer/icons/direct-connect.svg"></md-icon>
            {{:: 'ui.multiplayer.direct_connect' | translate}}
          </button>

          <md-divider class="mp-divider"></md-divider>

          <button onclick="openExternalLink(`https://docs.beammp.com`)" class="mp-btn">
            <md-icon md-svg-src="/ui/modModules/multiplayer/icons/wiki.svg"></md-icon>
            {{:: 'ui.multiplayer.docs' | translate}}
          </button>

          <button id="forum-btn" onclick="openExternalLink(`https://forum.beammp.com`)" class="mp-btn">
            <md-icon md-svg-src="/ui/modModules/multiplayer/icons/forum.svg"></md-icon>
            {{:: 'ui.multiplayer.forum' | translate}}
          </button>

          <button onclick="openExternalLink(`https://discord.gg/BeamMP`)" class="mp-btn">
            <md-icon md-svg-src="/ui/modModules/multiplayer/icons/discord.svg"></md-icon>
            {{:: 'ui.multiplayer.discord' | translate}}
          </button>

          <button onclick="openExternalLink(`https://www.patreon.com/BeamMP`)" class="mp-btn">
            <md-icon md-svg-src="/ui/modModules/multiplayer/icons/patreon.svg"></md-icon>
            {{:: 'ui.multiplayer.patreon' | translate}}
          </button>

          <button onclick="openExternalLink(`https://github.com/BeamMP/`)" class="mp-btn">
            <md-icon md-svg-src="/ui/modModules/multiplayer/icons/github.svg"></md-icon>
            {{:: 'ui.multiplayer.github' | translate}}
          </button>
        </div>
	    
        <div class="mp-profile">
          <img ng-if="userdata.avatar" id="serverlist-profile-avatar" ng-src="{{userdata.avatar}}" style="width: 100px; border-radius: 50%; display: block; margin-left: auto; margin-right: auto;"/>
          <span ng-if="userdata.username" id="serverlist-profile-name" ng-click="userdata.id && openExternalLink('https://forum.beammp.com/u/' + userdata.username + '/summary')" ng-style="userdata.color ? {'background-color': userdata.color} : {'color': 'white'}" style="text-align: center; border-radius: 10px; margin-left: 15px; margin-right: 15px; margin-top: 10px; padding: 2px;">{{userdata.username}}</span>
          <span ng-if="userdata.id" ng-click="clipboardCopy(userdata.id)" id="serverlist-profile-id" style="cursor: pointer; text-align: center;font-size: 0.9em; line-height: 1.5em; opacity: 0.8; cursor: pointer; margin-top: 6px;">ID: {{userdata.id}}</span>
        </div>
        <button ng-click="logout()" class="mp-btn" style="  justify-content: center;
                                                            color: var(--MP-orange-2);
                                                            width: fit-content;
                                                            margin: 5px;
                                                            padding: 0.4rem;">
          <md-icon md-svg-src="/ui/modModules/multiplayer/icons/leave.svg"></md-icon>
				  {{:: 'ui.multiplayer.logout' | translate}}
        </button>
      </div>

      <div flex style="position: relative;">
        <md-content ui-view class="container" style="background: transparent; overflow: auto;"></md-content>
      </div>

      <div ui-view="edit" layout="column"></div>
    </div>
</md-content>

<!-- jQuery -->
<script>
  //if (window.module) module = window.module;
</script>
