:root {
  --MP-orange-1: rgba(255, 102, 0, 1);
  --MP-orange-2: rgba(255, 102, 0, 0.80);
  --MP-opacity-background1: rgba(0, 0, 0, 0.60);
  --MP-opacity-background2: rgba(31, 31, 31, 0.90);
  --MP-opacity-background3: rgba(31, 31, 31, 0.70);
  --MP-search-background: rgba(23, 23, 23, 0.5);
  --MP-border: rgba(38, 38, 38, 1);
  --MP-button-background: rgba(31, 31, 31, 1);
  --MP-button-text: rgba(255, 255, 255, 0.70);
  --MP-opacity-text: rgba(255, 255, 255, 0.50);
}

#serverListHeader {
  background-color: var(--MP-opacity-background1) !important;
  display: flex;
  align-items: center;
  gap: 2.25rem;
}
#serverListMainContainer {
  background: rgba(202, 202, 202, 0.5);
  backdrop-filter: blur(3.5px);
}
/* apply font family to everything in #serverListMainContainer */
#serverListMainContainer * {
  font-family: var(--fnt-defs);
  font-weight: 600;
}

#serversTableHead {
  background-color: var(--MP-opacity-background1);
  font-weight: bold;
}

#top-bar{
  background: var(--MP-opacity-background2);
  border-bottom: 1px solid var(--MP-orange-1);
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-gap: 0.3125rem;
  align-items: center;
}
#left-menu {
  color: white;
  background: var(--MP-opacity-background2);
}
#topRightStatus {
  font-size: 1.5rem;
  color: var(--MP-button-text);
}
.mp-btn-container {
  padding: 0.625rem 0.375rem 0 0.375rem;
  justify-content: center;
  display: grid;
  grid-gap: 0.3rem;
  grid-template-columns: 1fr;
}

.selected-server-mp-btn {
  border-color: var(--MP-orange-1) !important;
  box-shadow: 0 0 0.75rem rgba(255, 102, 0, 0.7);
}

.mp-btn:hover {
    opacity: 0.8;
    box-shadow: 0 0 0.5rem rgba(255, 102, 0, 0.4);
}
.mp-btn3 {
    border: 2px solid var(--MP-border);
    background: var(--MP-button-background);
    color: var(--MP-button-text);
    border-radius: 0.625rem;
    padding: 0.3125rem;
    width: 12.5rem;
    height: 2.5rem;
}
.mp-btn2 {
    border: 1px solid var(--MP-orange-1);
    background: transparent;
    color: var(--MP-orange-2);
    border-radius: 0.625rem;
    padding: 0.3125rem;
    height: fit-content;
    width: fit-content;
}
.mp-btn {
    border: 1px solid transparent;
    transition: border-color 0.5s ease, opacity 0.2s ease, box-shadow 0.2s ease;
    text-align:left;
    display: flex;
    align-items: center;
    color: var(--MP-button-text);
    background: var(--MP-button-background);
    width: 100%;
    font-size: var(--ui-rem);
    padding: 0.5rem;
    border-radius: 0.625rem;
    justify-self: center;
    align-self: center;
}
.mp-btn md-icon {
    margin: unset;
    margin-right: 0.313rem;
}
#search {
  text-indent: 2rem;
  background: url(/ui/modModules/multiplayer/icons/search.svg) no-repeat scroll 5px center, var(--MP-search-background);
  border-radius: 0.625rem;
  border: 2px solid var(--MP-border);
  width: 25rem;
}
#search::placeholder {
  color: var(--MP-opacity-text);
}

.mp-divider{
    justify-self: center;
    border-top-color: var(--MP-orange-1) !important;
    width: 80%;
}
.rounded-progress .md-container {
  border-radius: 10px;
  overflow: hidden; /* prevents overflow of the bar */
}

.rounded-progress .md-bar {
  border-radius: 10px;
}


.offset-div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -90px;
  top: -50px;
}


#filter-dropdown {
  height: 40px;
  background: unset;
  color: white !important;
  margin: 10px;
}

#back {
  width: 100%;
  height: 100%;
}

#serversTableContainer {
	overflow-x: hidden;
}

table#serversTable {
  border-collapse: collapse;
  table-layout: fixed;
  height: fit-content;
  width: 100%;
  color: white;
  position: relative;
}

#serversTable th {
	/*
	position: sticky;
	top: 0;
	*/
	z-index: 150;
}

#serversTableBody {
	z-index: 140;
}

#serversTable th {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  transition: 0.2s;
}

#serversTable th:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

#serversTable tr:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.highlight {
  background-color: #99aab5 !important;
}

.dropdown {
  min-width: 150px;
}

/* .button {
  color: white;
  text-align: center;
  background-color: rgb(212, 100, 26);
  text-decoration: none;
  font-size: 15px;
  width: 100%;
  transition-duration: 0.15s;
  cursor: pointer;
} */

/* .servers-button {
  width: 200px;
  height: 40px;
} */

.button:hover {
  background-color: white;
}

.close-button {
  width: 50px;
  margin-left: auto;
  float: right;
  margin-right: 5px;
}

#connect-button {
  width: 12.5rem;
  margin-left: auto;
  float: right;
}

#direct-connect-button {
  width: 425px;
  margin-left: 0px;
}

#add-fav-button {
  width: fit-content;
  margin-left: 0px;
}

#launcher-connect-button {
  width: 250px;
  margin: 0 10px 0 0;
  background: #576ebf;
}
#launcher-connect-button:hover {
  background-color: #374eaf;
}

#launcher-port {
  width: 125px;
  margin-bottom: 8px;
}

md-content {
  background-color: rgba(101, 101, 101, 0.34);
}

div#LoadingServer {
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
}

div#LoadingBody {
  width: 60%;
  background-color: #848484;
  padding: 15px;
  border-radius: 5px;
  max-height: 30%;
  overflow-y: hidden;
}

#mod-download-list {
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  background-color: rgb(109 109 109);
  padding: 5px;
  border: 1px solid #696969;
  border-radius: 3px;
}

.mod-download-row {
    align-items: center;
    margin-bottom: 2px;
}

.addCustomFav {
  color: white;

  position: absolute;
  z-index: 100;

  background-color: grey;
  padding: 0.9375rem;
  border-radius: 0.3125rem;

  width: 43.75rem
}

/* input {
  display: block;
  width: 400px;
  margin-top: 6px;
  padding: 8px 12px 10px 12px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.25);
  color: white;
  height: 40px;
} */

.row {
  width: 100%;
  padding-top: 0.625rem;
  display: flex;
}

.col {
  width: 50%;
}

tr#ServerInfoRow {
  background-color: #3535357a;
}

ul.serverItemDetails {
  list-style: none;
}

md-checkbox .md-container {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 18px;
  height: 18px;
  left: 0;
  right: auto;
}

md-checkbox {
  box-sizing: border-box;
  display: block;
  margin: 8px;
  white-space: nowrap;
  cursor: pointer;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 18px;
  padding-right: 0;
  position: relative;
  line-height: 26px;
  min-width: 18px;
  color: white;
  min-height: 18px;
}

md-slider.ng-pristine.ng-untouched.ng-valid.md-default-theme.ng-empty {
  padding-top: 0px;
}

.filter-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-body {
  background-color: grey;
  padding: 20px;
  border-radius: 8px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.filter-body h2 {
  margin-top: 10px;
}

.filter-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.dropdown-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dropdown-row md-select {
  width: 40%;
}

[placeholder]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
[placeholder]:hover::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}

[placeholder]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
[placeholder]:hover::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
[placeholder]:focus::-moz-placeholder {
  color: transparent;
}

[placeholder]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
[placeholder]:hover:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
[placeholder]:focus:-ms-input-placeholder {
  color: transparent;
}

.text-white {
  color: white;
}

.text-red {
  color: red;
}

/** ######################################################## **/
/**             STRENGTH STYLING                             **/
/** ######################################################## **/
.icon__signal-strength {
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 20px;
  height: 13px;
  padding: 4px;
}

.icon__signal-strength span {
  display: inline-block;
  width: 6px;
  margin-left: 2px;
  transform-origin: 100% 100%;
  background-color: #00cc00;
  border-radius: 2px;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.42, 1.3);
  animation-fill-mode: both;
  animation-play-state: paused;
}

.icon__signal-strength .bar-1 {
  height: 25%;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
}
.icon__signal-strength .bar-2 {
  height: 50%;
  animation-duration: 0.25s;
  animation-delay: 0.2s;
}
.icon__signal-strength .bar-3 {
  height: 75%;
  animation-duration: 0.2s;
  animation-delay: 0.3s;
}
.icon__signal-strength .bar-4 {
  height: 100%;
  animation-duration: 0.15s;
  animation-delay: 0.4s;
}

.signal-0 .bar-1,
.signal-0 .bar-2,
.signal-0 .bar-3,
.signal-0 .bar-4 {
  opacity: 0.2;
}

.signal-1 .bar-2,
.signal-1 .bar-3,
.signal-1 .bar-4 {
  opacity: 0.2;
}

.signal-2 .bar-3,
.signal-2 .bar-4 {
  opacity: 0.2;
}

.signal-3 .bar-4 {
  opacity: 0.2;
}

@keyframes signal-intro {
  from {
    opacity: 0.2;
    height: 2px;
  }
}

@keyframes loadingShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}
.loading-shimmer {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: loadingShimmer;
  animation-timing-function: linear;
  background: rgba(255, 255, 255, 0);
  background: linear-gradient(to right, #eeeeee00 8%, #dddddd75 18%, #eeeeee00 33%);
  background-size: 1000px 22px;
  height: 22px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.flag {
  height: 1.0625rem;
  float: left;
  position: relative;
  top: 0.125rem;
  max-width: 2.125rem;
}


.server-maxplayers,
.server-flag {
  width: 5.625rem;
}
.server-mapname {
  width: 33.33%;
}
.server-servername {
  width: 66.67%;
}


#serverListMainContainer .focus-visible::before {     
  display: none; 
}
#serverListMainContainer .focus-visible {
  overflow: hidden !important;
}

.server-item {
    height: 24px;
}
.server-item td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.featured {
  background-color: rgba(0, 128, 0, 0.25);
}
.partner {
  background-color: rgba(0, 123, 195, 0.3);
}
.official {
  background-color: rgba(255, 102, 0, 0.5);
}
.favorite {
  background-color: rgba(255, 215, 0, 0.35);
}
.custom {
  background-color: rgba(255, 215, 0, 0.35);
}
.offline {
  background-color: rgba(0, 0, 0, 0.35);
}

.color-0 { color: #000000; }
.color-1 { color: #0000AA; }
.color-2 { color: #00AA00; }
.color-3 { color: #00AAAA; }
.color-4 { color: #AA0000; }
.color-5 { color: #AA00AA; }
.color-6 { color: #FFAA00; }
.color-7 { color: #AAAAAA; }
.color-8 { color: #555555; }
.color-9 { color: #5555FF; }
.color-a { color: #55FF55; }
.color-b { color: #55FFFF; }
.color-c { color: #FF5555; }
.color-d { color: #FF55FF; }
.color-e { color: #FFFF55; }
.color-f { color: #FFFFFF; }

.bold { font-weight: bold; }
.line-through { text-decoration: line-through; }
.underline { text-decoration: underline; }
.italic { font-style: italic; }