
<md-content id="serverListMainContainer" style="display: flex; flex-direction: column; height: 100%;">

	<div id="serverListHeader" layout="row" layout-padding="">

		<input ng-model="multiplayermenu.searchText" ng-change="multiplayermenu.repopulate();" type="text" id="search" name="search" placeholder="Search"/>

		<button id="refresh-button" class="mp-btn3" ng-class="" ng-click="multiplayer.refreshList()">{{:: 'ui.multiplayer.refresh' | translate}}</button>

		<button id="extra-button" class="mp-btn3" style="display: none;"></button>

		<button class="mp-btn3" ng-click="toggleFilterOverlay()">
			<span style="margin-right: 10px">{{:: 'ui.multiplayer.openFilters' | translate}}</span>
			<md-tooltip md-direction="top">{{:: 'ui.multiplayer.openFilters' | translate}}</md-tooltip>
		</button>

		<button class="mp-btn3" id="clearFiltersButton" ng-click="clearFilters()">
			<span style="margin-right: 10px">{{:: 'ui.multiplayer.clearFilters' | translate}}</span>
			<md-tooltip md-direction="top">{{:: 'ui.multiplayer.clearFilters' | translate}}</md-tooltip>
		</button>

		<span id="FiltersPrefix" style="display: none; font-weight: bold; align-self: center;">{{:: 'ui.multiplayer.activeFilters' | translate}}</span>
		<span id="activeFilters" style="align-self: center; padding-left: 10px;"></span>

		<div class="filter-overlay" ng-show="isFilterOverlayVisible" ng-click="toggleFilterOverlay(); multiplayermenu.repopulate();">
			<div class="filter-body" ng-click="$event.stopPropagation();">
				<h2>{{:: 'ui.multiplayer.filterOptions' | translate}}</h2>

				<md-button class="md-icon-button" style="margin-left: auto;" ng-click="toggleFilterOverlay(); multiplayermenu.repopulate();">
					<md-icon>close</md-icon>
				</md-button>

				<div class="filter-content">
					<md-checkbox ng-model="multiplayermenu.checkIsEmpty">
						<md-tooltip md-direction="right">
							{{:: 'ui.multiplayer.emptyOnlyTooltip' | translate}}
						</md-tooltip>
						{{:: 'ui.multiplayer.emptyOnly' | translate}}
					</md-checkbox>

					<md-checkbox ng-model="multiplayermenu.checkIsNotEmpty">
						<md-tooltip md-direction="right">
							{{:: 'ui.multiplayer.notEmptyTooltip' | translate}}
						</md-tooltip>
						{{:: 'ui.multiplayer.notEmpty' | translate}}
					</md-checkbox>

					<md-checkbox ng-model="multiplayermenu.checkIsNotFull">
						<md-tooltip md-direction="right">
							{{:: 'ui.multiplayer.notFullTooltip' | translate}}
						</md-tooltip>
						{{:: 'ui.multiplayer.notFull' | translate}}
					</md-checkbox>

					<div class="dropdown-row">
						<md-select id="filter-dropdown" ng-model="multiplayermenu.selectMap" placeholder="Any map" class="md-no-underline dropdown">
							<md-tooltip md-direction="right">
								{{:: 'ui.multiplayer.mapFilterTooltip' | translate}}
							</md-tooltip>
							<md-option ng-repeat="map in multiplayermenu.availableMaps" ng-value="multiplayermenu.availableMaps[$index]" style="height: 40px;">
								{{ map }}
							</md-option>
						</md-select>

						<md-select id="filter-dropdown" ng-model="multiplayermenu.serverVersions" multiple placeholder="All versions" class="md-no-underline dropdown">
							<md-tooltip md-direction="right">
								{{:: 'ui.multiplayer.serverVersionFilterTooltip' | translate}}
							</md-tooltip>
							<md-option ng-repeat="version in multiplayermenu.availableServerVersions" ng-value="multiplayermenu.availableServerVersions[$index]" style="height: 40px;">
								{{ version }}
							</md-option>
						</md-select>

						<md-select id="filter-dropdown" ng-model="multiplayermenu.tags" multiple placeholder="All tags" class="md-no-underline dropdown">
							<md-tooltip md-direction="right">
								{{:: 'ui.multiplayer.tagFilterTooltip' | translate}}
							</md-tooltip>
							<md-option ng-repeat="tag in multiplayermenu.availableTags" ng-value="multiplayermenu.availableTags[$index]" style="height: 40px;">
								{{ tag }}
							</md-option>
						</md-select>

						<md-select id="filter-dropdown" ng-model="multiplayermenu.serverLocations" multiple placeholder="All locations" class="md-no-underline dropdown">
							<md-tooltip md-direction="right">
								{{:: 'ui.multiplayer.serverLocationFilterTooltip' | translate}}
							</md-tooltip>
							<md-option ng-repeat="location in multiplayermenu.availableServerLocations" ng-value="multiplayermenu.availableServerLocations[$index]" style="height: 40px;">
								<img src="local://local/ui/modModules/multiplayer/flags/{{ location.toLowerCase() }}.png" class="flag" style="margin-right: 5px;" /> {{ location }}
							</md-option>
						</md-select>
					</div>

					<md-checkbox ng-model="multiplayermenu.checkModSlider" style="display: flex; align-items: center;">
						<md-tooltip md-direction="right">
							{{:: 'ui.multiplayer.modSliderTooltip' | translate}}
						</md-tooltip>

						<div class="md-label" style="margin-left: 8px;">
							{{:: 'ui.multiplayer.modSlider' | translate}}
						</div>
					</md-checkbox>

					<div class="md-slider-container" ng-if="multiplayermenu.checkModSlider" style="width: 60%;">
						<md-slider flex ng-model="multiplayermenu.sliderMaxModSize" min="0" max="10000" step="50" aria-label="_"></md-slider>
						<span style="margin: 0px 15px; padding-top: 13px; color: white;">
							{{ multiplayermenu.sliderMaxModSize }} MB
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<md-divider></md-divider>
	
	<div id="serversTableContainer" style="width:100%; overflow-y: auto; flex:1;">
		<table id="serversTable">
			<thead id="serversTableHead">
				<tr id="header">
					<th class="server-flag" ng-click="sortTable('location', false)">{{:: 'ui.multiplayer.location' | translate}}</th>
					<th class="server-servername" ng-click="sortTable('strippedName', false)">{{:: 'ui.multiplayer.description' | translate}}</th>
					<th class="server-mapname" ng-click="sortTable('map', false)" style="min-width: 200px;">{{:: 'ui.multiplayer.map' | translate}}</th>
					<th class="server-maxplayers" ng-click="sortTable('players', true)">{{:: 'ui.multiplayer.players' | translate}}</th>
				</tr>
			</thead>
			<tbody id="serversTableBody" style="width: 100%;">
				<tr ng-repeat="n in [].constructor(loadingShimmerCount) track by $index" ng-show="!serversTable">
					<td class="loading-shimmer" colspan="4"></td>
				</tr>	
    			<tr ng-style="{'height': beforeHeight + 'px'}"></tr>
				<tr class="server-item" ng-repeat-start="server in visibleServers track by server.id" ng-show="serversTable" ng-click="selectServer(server)" ng-class="{'highlight': server.server.ip + ':' + server.server.port === selectedServerId}">
					<td ng-class="{'offline': server.offline, 'custom': server.custom, 'favorite': server.isFavorite, 'featured': server.server.featured, 'official': server.server.official, 'partner': server.server.partner}" class="server-flag" style="font-size: initial; padding-left: 3px; text-align: right; padding-right: 10px" ><img ng-src="local://local/ui/modModules/multiplayer/flags/{{server.server.location.toLowerCase()}}.png" class="flag"></img> {{server.server.location}}</td>
					<td ng-class="{'offline': server.offline, 'custom': server.custom, 'favorite': server.isFavorite, 'featured': server.server.featured, 'official': server.server.official, 'partner': server.server.partner}" class="server-servername" ng-bind-html="formatCodes(server.name)" ></td>
					<td ng-class="{'offline': server.offline, 'custom': server.custom, 'favorite': server.isFavorite, 'featured': server.server.featured, 'official': server.server.official, 'partner': server.server.partner}" class="server-mapname" style="font-size: initial">{{SmoothMapName(server.server.map)}}</td>
					<td ng-class="{'offline': server.offline, 'custom': server.custom, 'favorite': server.isFavorite, 'featured': server.server.featured, 'official': server.server.official, 'partner': server.server.partner}" class="server-maxplayers" style="font-size: initial">{{server.server.players}}/{{server.server.maxplayers}}</td>
				</tr>
				
				<tr ng-if="server.id === selectedServerId" ng-repeat-end id="ServerInfoRow">
					<td colspan="5">

						<div id="info-container">
							<div class="info-left">
								<div id="server-owner">
									<md-icon md-svg-src="/ui/modModules/multiplayer/icons/owner.svg"></md-icon>
									<span>{{(server.server.owner || "").replace('#', '')}}</span>
								</div>
								<div id="server-map">
									<md-icon md-svg-src="/ui/modModules/multiplayer/icons/map.svg"></md-icon>
									<span>{{SmoothMapName(server.server.map || "")}}</span>
								</div>
								<div id="relative-server-players">
										<md-icon
											class="players-corner-icon"
											md-svg-src="/ui/modModules/multiplayer/icons/players.svg">
										</md-icon>

										<div id="server-players">
											<span ng-repeat="player in listPlayers(server.server.playerslist || [])"
												class="mp-player">
												{{player}}
											</span>
										</div>
								</div>
							</div>
							<div class="info-right">
								<h1>
									<img ng-if="server.server.official" 
									ng-src="local://local/ui/modModules/multiplayer/beammp.png" 
									alt="Official Server"
									ng-style="{'height': '23px', 'padding-right': '10px'}">
									<span ng-if="server.server.official">[Official Server]</span>
									<span ng-bind-html="formatCodes(server.server.sname)" style="font-size:22px; margin-left:5px"></span>
								</h1>
								<div id="relative-server-desc">
									<span class="mp-corner-text">Description</span>
									<div id="server-desc">
										<p ng-bind-html="formatCodes(server.server.sdesc|| '', true)"></p>
									</div>
								</div>
								<div id="relative-server-mods">
									<span class="mp-corner-text">Mods</span>
									<div id="server-mods">
										<!-- <li>Mods: {{modCount(server.server.modlist|| "")}}</li> -->
										<div id="mods-name">{{modList(server.server.modlist|| "")}}</div>
										<!-- <li>Total Mods Size: {{formatBytes(server.server.modstotalsize) || "0"}}</li> -->
									</div>
								</div>
							</div>
							<!-- <div class="info-right">
								<ul class="serverItemDetails">
									<li>Mods: {{modCount(server.server.modlist|| "")}}</li>
									<li>Mod Names: <div style="margin-left: 10px; max-width: 75%; max-height: 200px; overflow-y: auto; background: rgba(0, 0, 0, 0.1);">{{modList(server.server.modlist|| "")}}</div></li>
									<li>Total Mods Size: {{formatBytes(server.server.modstotalsize) || "0"}}</li>
								</ul>
							</div> -->
						</div>
						<!-- <div class="row" style="padding-left: 10px;" ng-switch="server.isFavorite">
							<md-button id="serverconnect-button" class="button servers-button md-button md-default-theme" ng-class="" ng-click="connect(server.server.ip, server.server.port, server.name, server.server.official)" style="margin-left: 10px;">Connect</md-button>
							<div ng-switch-when="true">
								<md-button id="removeFav-button" class="button servers-button md-button md-default-theme" ng-class="" ng-click="removeFav(server.server)" style="margin-left: 10px; background-color: #FF6961;">Remove Favorite</md-button>
							</div>
							<div ng-switch-when="false">
								<md-button id="addFav-button" class="button servers-button md-button md-default-theme" ng-class="" ng-click="addFav(server.server, true)" style="margin-left: 10px; background-color: #FFB646">Add Favorite</md-button>
							</div>
						</div> -->
						<!-- <div class="row">
							<h4></h4>
							<p>{{listPlayers(server.server.playerslist|| "")}}</p>
						</div> -->
					</td>
				</tr>
    			<tr ng-style="{'height': afterHeight + 'px'}"></tr>
			</tbody>
		</table>
	</div>
	
	<div id="footer">
		<span id="TEMPAREA" style="display:none;"></span>
		<span id="TEMPNODE" style="display:none;"></span>
	</div>
</md-content>
